{% extends "layout.html" %}
  {% block files %}
  <link rel="stylesheet" href="{{ url_for('static',filename='light_theme.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='my_style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='account_style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">
  <style>
    .table1,tr,td,th{
      text-align: left;
      width: auto;
      padding: 0px;
      padding-right: 20px;
      margin-left: 50px;
      /* border: 2px solid yellow; */
      color: #fff;
      text-shadow: -5px -5px 15px rgba(255,255,255,0.9),
                  5px 5px 10px rgba(0,0,0,0.2);
    }
</style>
  {% endblock files %}
  {% block content %}
  <div id="loader" class="center"></div> 
<div class="__container">
  {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
          {% for category,message in messages%}
              <div>
                  {% if category == "info" %}
                      <div class = "alert alert-info" ><i class="fas fa-bell fl-fw icon_bell"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button></div>
                  {% elif category == "success" %}
                      <div class = "alert alert-success" ><i class="fas fa-check-circle fl-fw icon_tick"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button></div>
                  {% elif category == "danger" %}
                      <div class = "alert alert-danger" ><i class="fas fa-times-circle fl-fw icon_danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button></div>
                  {% endif %}
              </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
    <!--Navbar -->
      <nav class="mb-1 navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#" style="color: rgb(43, 148, 137); font-size: 20px; font-weight: 600;"><span class="letter-1">A</span>skNSolve</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
        aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item menu-option">
            <a class="nav-link" style="color: rgb(51, 177, 164); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'rgb(51, 177, 164)'" href="{{url_for('main.home')}}">Home
            </a>
            </li>
            <li class="nav-item menu-option">
            <a class="nav-link" style="color: rgb(51, 177, 164); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'rgb(51, 177, 164)'" href="{{url_for('posts.create_post')}}">Ask</a>
            </li>
            <li class="nav-item menu-option active-1111">
            <a class="nav-link" style="color: rgb(51, 177, 164); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'rgb(51, 177, 164)'" href="{{url_for('users.account',user_id = current_user.id)}}">Account<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            {% if current_user.is_authenticated %}
            <li class="nav-item menu-option">
                <a class="nav-link" style="color: crimson; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'crimson'" a href="{{url_for('users.logout')}}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item menu-option">
                <a class="nav-link" style="color: crimson; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'crimson'" href="{{url_for('users.login')}}" >Login</a>
            </li>
            <li class="nav-item menu-option">
                <a class="nav-link" style="color: crimson; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'crimson'" href="{{url_for('users.register')}}" >Register</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    <div class="container-i">
        <div class="container-ii">
            <div class="sub-container-i">
                  <span class="circle-1">.</span>
                  <span class="circle-2">.</span>
                  <span class="circle-3">.</span>
                  <span class="circle-4">.</span>
                  <span class="circle-5">.</span>
                  <span class="circle-6">.</span>
            </div>
            <div class="sub-container-ii text-center">
                
                  <div class="profile-pic-2">
                    <img src="{{ profile_picture }}" alt="Profile Picture" class="profile-pic-1" style="transform: translate(0%,-50%);">
                  </div>
                <table class="table1">
                    <div data-toggle="popover" data-placement="top" title="Full Name" data-content="{{_user.first_name}} {{_user.last_name}}" style="display: flex;cursor: pointer;"><tr><th><p style="font-weight: bold; color: rgb(43, 148, 137);">Name :</p></th><td><p style="color: rgb(136, 136, 136); font-weight: bolder;">
                      {% if _user.first_name|length < 15 %}
                        {{ _user.first_name }}
                      {% elif (_user.first_name|length + _user.last_name|length) < 15 %}
                        {{ _user.first_name }} {{ _user.last_name }}
                      {% elif _user.first_name|length > 15 %}
                        {{ _user.first_name[:14] }}
                      {% endif %}
                    </p></td></tr></div>
                    <div style="display: flex; cursor: pointer;" data-toggle="popover" data-placement="top" title="Full Username"
                    data-content="{{ _user.username }}"><tr><th><p style="font-weight: bold; color: rgb(43, 148, 137);">Username :</p></th><td><p style="color: rgb(136, 136, 136); font-weight: bolder;">
                      
                      {% if _user.username|length < 15 %}
                        {{ _user.username }}
                      {% elif _user.username|length > 15 %}
                        {{ _user.username[:14] }}
                      {% endif %}
                    </p></td></tr></div>
                    <div style="display: flex; cursor: pointer;" data-toggle="popover" data-placement="top" title="E-mail"
                    data-content="{{_user.email}}"><tr><th><p style="font-weight: bold; color: rgb(43, 148, 137);">Email :</p></th><td><p style="color: rgb(136, 136, 136); font-weight: bolder;">{{ _user.email[:14] }}...</p></td></tr></div>
                    <div style="display: flex; cursor: pointer;" data-toggle="popover" data-placement="top" title="Skills"
                    data-content="{{_user.skills}}"><tr><th><p style="font-weight: bold; color: rgb(43, 148, 137);">Skills :</p></th><td><p style="color: rgb(136, 136, 136); font-weight: bolder;">{{ _user.skills[:15] }}...</p></td></tr></div>
                    <div style="display: flex; cursor: pointer;" data-toggle="popover" data-placement="top" title="Country"
                    data-content="{{_user.country}}"><tr><th><p style="font-weight: bold; color: rgb(43, 148, 137);">Country :</p></th><td><p style="color: rgb(136, 136, 136); font-weight: bolder;">{{ _user.country }}</p></td></tr></div>
                    <div style="display: flex; cursor: pointer;" data-toggle="popover" data-placement="top" title="Followers"
                    data-content="{{followers|length}} users are following you..."><tr><th><p style="font-weight: bold; color: rgb(43, 148, 137);">Followers :</p></th><td><table><tr><td><p style="color: rgb(136, 136, 136); font-weight: bolder;">{{ followers|length }}</p></td><td><a href="{{url_for('users.my_followers', user_id = _user.id)}}" class="btn btn-sm text-center pt-1.5" style="padding: 6px; height: 30px; width: 30px; border-radius: 50%; background: rgb(43, 148, 137); margin-top: -6px;"><i class="fas fa-arrow-alt-circle-right" style="color: white; font-size: 15px; margin-top: 0px;"></i></a></td></tr></table></td></tr></div>
                    <div style="display: flex; cursor: pointer;" data-toggle="popover" data-placement="top" title="Following"
                    data-content="You are following {{following|length}} users"><tr><th><p style="font-weight: bold; color: rgb(43, 148, 137);">Following :</p></th><td><table><tr><td><p style="color: rgb(136, 136, 136); font-weight: bolder;">{{ following|length }}</p></td><td><a href="{{url_for('users.my_following', user_id = _user.id)}}" class="btn btn-sm text-center pt-1.5" style="padding: 6px; height: 30px; width: 30px; border-radius: 50%; background: rgb(43, 148, 137); margin-top: -6px;"><i class="fas fa-arrow-alt-circle-right" style="color: white; font-size: 15px; margin-top: 0px;"></i></a></td></tr></table></td></tr></div>
                    

                    <div class="text-center" style="margin-top: 30px; margin-bottom: -50px; width: 78%;">
                      <tr><td colspan="2">
                      {% for i in MY_SKILLS_LIST[:8] %}
                          {% if ((i|upper)[:6] == 'PYTHON') %}
                            <i style="color: #1abc9c;margin: 4px; font-size: 20px;" class="devicon-python-plain"></i>
                          {% elif ((i|upper)[:10] == 'JAVASCRIPT') %}
                            <i style="color: #e67e22;margin: 4px; font-size: 20px;" class="fab fa-js-square skill_icon-1"></i>
                          {% elif ((i|upper)[:4] == 'JAVA') %}
                            <i style="color: #3498db;margin: 4px; font-size: 20px;" class="devicon-java-plain" ></i>
                          {% elif ((i|upper)[:3] == 'CSS') %}
                            <i style="color: #e74c3c;margin: 4px; font-size: 20px;" class="devicon-javascript-plain" ></i>
                          {% elif ((i|upper)[:3] == 'C++') %}
                            <i style="color: #f1c40f;margin: 4px; font-size: 20px;" class="devicon-cplusplus-plain skill_icon-1" ></i>
                          {% elif ((i|upper)[:1] == 'C') %}
                            <i style="color: #27ae60;margin: 4px; font-size: 20px;" class="devicon-c-plain skill_icon-1" ></i>
                          {% elif ((i|upper)[:7] == 'ANDROID') %}
                            <i style="color: #34495e;margin: 4px; font-size: 20px;" class="devicon-android-plain skill_icon-1" ></i>
                          {% elif ((i|upper)[:7] == 'ANGULAR') %}
                            <i style="color: #8e44ad;margin: 4px; font-size: 20px;" class="devicon-angularjs-plain skill_icon-1" ></i>
                          {% elif ((i|upper)[:4] == 'HTML') %}
                            <i style="color: #0652DD;margin: 4px; font-size: 20px;" class="devicon-html5-plain" ></i>
                          {% elif ((i|upper)[:10] == 'POSTGRESQL') %}
                            <i style="color: #92dd06;margin: 4px; font-size: 20px;"class="devicon-postgresql-plain"></i>
                          {% elif ((i|upper)[:4] == 'RUBY') %}
                            <i style="color: #58b8f0;margin: 4px; font-size: 20px;" class="devicon-ruby-plain"></i>
                          {% elif ((i|upper)[:4] == 'SASS') %}
                            <i style="color: #2d6915;margin: 4px; font-size: 20px;" class="devicon-sass-original"></i>
                          {% elif ((i|upper)[:5] == 'SWIFT') %}
                            <i style="color: #d3a409;margin: 4px; font-size: 20px;" class="devicon-swift-plain"></i>
                          {% endif %}
                      {% endfor %}
                    </td></tr>
                    <tr><td colspan="2">
                      {% if current_user.id == _user.id %}
                          <div style="text-align: center; margin-top: 40px; margin-bottom: -40px;"><a class="ask_button" style="font-family: Aldrich,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(43, 148, 137); font-size: 13px; border-radius: 5px;" onmouseover="this.style.color = 'rgb(33,156,243)'" onmouseout="this.style.color = '#grey'" href="{{url_for('users.theme_select')}}">
                            {% if current_user.theme == 'NULL' %}
                              DARK MODE</a></div>
                            {% else %}
                              LIGHT MODE</a></div>
                            {% endif %}
                      {% endif %}
                            
                          <div>
                            <div class="dropdown" style=" margin-top: 80px; float: center; text-align: center;">
                            
                              <button class="ask_button dropdown-toggle" type="button" id="dropdownMenuButton" data-dropup-auto="false" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                              </button>
                            
                            <div class="dropdown-menu" style="background: #ebf5fc; margin-left: -70px;" aria-labelledby="dropdownMenuButton">
                              {% if form != "NULL" %}
                                
                                <button class="btn btn-light btn-sm" data-toggle="modal" style="font-size: 11px; width: 92%; background: #ebf5fc; color: rgb(43, 148, 137); font-weight: 600; box-shadow: -5px -5px 15px rgba(255,255,255,0.8), 5px 5px 10px rgba(0,0,0,0.1);" data-target="#modalLoginAvatar" >Update info</button>
                                
                              {% endif %}
                              
                              {% if current_user.username == "ADMIN01" %}
                                <a href="{{ url_for('users.delete_user', user_id = _user.id) }}" class="btn btn-light btn-sm" style="font-size: 11px; width: 92%; background: #ebf5fc; color: rgb(43, 148, 137); font-weight: 600; box-shadow: -5px -5px 15px rgba(255,255,255,0.8), 5px 5px 10px rgba(0,0,0,0.1);">Delete User</a>
                              {% endif %}
                                <a href="{{ url_for('users.all_user_post', username = _user.username) }}" class="btn btn-light btn-sm" style="font-size: 11px; width: 92%; background: #ebf5fc; color: rgb(43, 148, 137); font-weight: 600; box-shadow: -5px -5px 15px rgba(255,255,255,0.8), 5px 5px 10px rgba(0,0,0,0.1);">My Posts</a>

                                
                          
                                
                                {% if form == "NULL" %}
                                  <a href="{{url_for('users.follow_me',user_id = _user.id)}}" class="btn btn-light btn-sm" style="font-size: 11px; width: 92%; background: #ebf5fc; color: rgb(43, 148, 137); font-weight: 600; box-shadow: -5px -5px 15px rgba(255,255,255,0.8), 5px 5px 10px rgba(0,0,0,0.1);">{{ name_of_follow }}</a>
                                  <a href="{{ url_for('users.chat_room', user_id = _user.id) }}" class="btn btn-light btn-sm" style="font-size: 11px; width: 92%; background: #ebf5fc; color: rgb(43, 148, 137); font-weight: 600;">Message</a>
                                {% endif %}
                              
                            </div>
                          </div>
                        </td></tr>
                        
                      </div>
                    </div>
                  </table>
            </div>
        </div>
    </div>
    {% if form != "NULL" %}
          <!--Modal: update Form-->
          <div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
            <!--Content-->
            <div class="modal-content" style="margin-bottom: 100px;">

              <!--Header-->
              <div class="modal-header" >
                <img src="{{ profile_picture }}" alt="Profile Picture" class="rounded-circle img-responsive" style="height: 100px; width: 100px;">
              </div>
              <!--Body-->
              <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                  <fieldset class="modal-body text-center mb-1">

                    <h5 class="mt-1 mb-2">{{ _user.username }}</h5>

                    <div class="md-form ml-0 mr-0">
                      {{ form.first_name(class="form-control form-control-sm validate ml-0", id = "form29") }}
                      <label data-error="wrong" data-success="right" for="form29" class="ml-0" style="box-shadow: 0 0 0 0 ;">First Name</label>
                      {% if form.first_name.errors %}
                        {% for error in form.first_name.errors%}
                          <small class="form-text text-danger" style="margin-left: 10px;">{{ error }}</small>
                        {% endfor %}
                      {% endif %}
                    </div>
                    <div class="md-form ml-0 mr-0">
                      {{ form.last_name(class="form-control form-control-sm validate ml-0", id = "form29") }}
                      <label data-error="wrong" data-success="right" for="form29" class="ml-0" style="box-shadow: 0 0 0 0 ;">Last Name</label>
                      {% if form.last_name.errors %}
                        {% for error in form.last_name.errors%}
                          <small class="form-text text-danger" style="margin-left: 10px;">{{ error }}</small>
                        {% endfor %}
                      {% endif %}
                    </div>
                    
                    
                    <div class="md-form ml-0 mr-0">
                      
                      <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect02" value = "{{ form.country }}">
                          <option selected>Choose Country</option>
                          <option value="Afghanistan">Afghanistan</option>
                          <option value="Åland Islands">Åland Islands</option>
                          <option value="Albania">Albania</option>
                          <option value="Algeria">Algeria</option>
                          <option value="American Samoa">American Samoa</option>
                          <option value="Andorra">Andorra</option>
                          <option value="Angola">Angola</option>
                          <option value="Anguilla">Anguilla</option>
                          <option value="Antarctica">Antarctica</option>
                          <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                          <option value="Argentina">Argentina</option>
                          <option value="Armenia">Armenia</option>
                          <option value="Aruba">Aruba</option>
                          <option value="Australia">Australia</option>
                          <option value="Austria">Austria</option>
                          <option value="Azerbaijan">Azerbaijan</option>
                          <option value="Bahamas">Bahamas</option>
                          <option value="Bahrain">Bahrain</option>
                          <option value="Bangladesh">Bangladesh</option>
                          <option value="Barbados">Barbados</option>
                          <option value="Belarus">Belarus</option>
                          <option value="Belgium">Belgium</option>
                          <option value="Belize">Belize</option>
                          <option value="Benin">Benin</option>
                          <option value="Bermuda">Bermuda</option>
                          <option value="Bhutan">Bhutan</option>
                          <option value="Bolivia">Bolivia</option>
                          <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                          <option value="Botswana">Botswana</option>
                          <option value="Bouvet Island">Bouvet Island</option>
                          <option value="Brazil">Brazil</option>
                          <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                          <option value="Brunei Darussalam">Brunei Darussalam</option>
                          <option value="Bulgaria">Bulgaria</option>
                          <option value="Burkina Faso">Burkina Faso</option>
                          <option value="Burundi">Burundi</option>
                          <option value="Cambodia">Cambodia</option>
                          <option value="Cameroon">Cameroon</option>
                          <option value="Canada">Canada</option>
                          <option value="Cape Verde">Cape Verde</option>
                          <option value="Cayman Islands">Cayman Islands</option>
                          <option value="Central African Republic">Central African Republic</option>
                          <option value="Chad">Chad</option>
                          <option value="Chile">Chile</option>
                          <option value="China">China</option>
                          <option value="Christmas Island">Christmas Island</option>
                          <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                          <option value="Colombia">Colombia</option>
                          <option value="Comoros">Comoros</option>
                          <option value="Congo">Congo</option>
                          <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                          <option value="Cook Islands">Cook Islands</option>
                          <option value="Costa Rica">Costa Rica</option>
                          <option value="Cote D'ivoire">Cote D'ivoire</option>
                          <option value="Croatia">Croatia</option>
                          <option value="Cuba">Cuba</option>
                          <option value="Cyprus">Cyprus</option>
                          <option value="Czech Republic">Czech Republic</option>
                          <option value="Denmark">Denmark</option>
                          <option value="Djibouti">Djibouti</option>
                          <option value="Dominica">Dominica</option>
                          <option value="Dominican Republic">Dominican Republic</option>
                          <option value="Ecuador">Ecuador</option>
                          <option value="Egypt">Egypt</option>
                          <option value="El Salvador">El Salvador</option>
                          <option value="Equatorial Guinea">Equatorial Guinea</option>
                          <option value="Eritrea">Eritrea</option>
                          <option value="Estonia">Estonia</option>
                          <option value="Ethiopia">Ethiopia</option>
                          <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                          <option value="Faroe Islands">Faroe Islands</option>
                          <option value="Fiji">Fiji</option>
                          <option value="Finland">Finland</option>
                          <option value="France">France</option>
                          <option value="French Guiana">French Guiana</option>
                          <option value="French Polynesia">French Polynesia</option>
                          <option value="French Southern Territories">French Southern Territories</option>
                          <option value="Gabon">Gabon</option>
                          <option value="Gambia">Gambia</option>
                          <option value="Georgia">Georgia</option>
                          <option value="Germany">Germany</option>
                          <option value="Ghana">Ghana</option>
                          <option value="Gibraltar">Gibraltar</option>
                          <option value="Greece">Greece</option>
                          <option value="Greenland">Greenland</option>
                          <option value="Grenada">Grenada</option>
                          <option value="Guadeloupe">Guadeloupe</option>
                          <option value="Guam">Guam</option>
                          <option value="Guatemala">Guatemala</option>
                          <option value="Guernsey">Guernsey</option>
                          <option value="Guinea">Guinea</option>
                          <option value="Guinea-bissau">Guinea-bissau</option>
                          <option value="Guyana">Guyana</option>
                          <option value="Haiti">Haiti</option>
                          <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                          <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                          <option value="Honduras">Honduras</option>
                          <option value="Hong Kong">Hong Kong</option>
                          <option value="Hungary">Hungary</option>
                          <option value="Iceland">Iceland</option>
                          <option value="India">India</option>
                          <option value="Indonesia">Indonesia</option>
                          <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                          <option value="Iraq">Iraq</option>
                          <option value="Ireland">Ireland</option>
                          <option value="Isle of Man">Isle of Man</option>
                          <option value="Israel">Israel</option>
                          <option value="Italy">Italy</option>
                          <option value="Jamaica">Jamaica</option>
                          <option value="Japan">Japan</option>
                          <option value="Jersey">Jersey</option>
                          <option value="Jordan">Jordan</option>
                          <option value="Kazakhstan">Kazakhstan</option>
                          <option value="Kenya">Kenya</option>
                          <option value="Kiribati">Kiribati</option>
                          <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                          <option value="Korea, Republic of">Korea, Republic of</option>
                          <option value="Kuwait">Kuwait</option>
                          <option value="Kyrgyzstan">Kyrgyzstan</option>
                          <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                          <option value="Latvia">Latvia</option>
                          <option value="Lebanon">Lebanon</option>
                          <option value="Lesotho">Lesotho</option>
                          <option value="Liberia">Liberia</option>
                          <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                          <option value="Liechtenstein">Liechtenstein</option>
                          <option value="Lithuania">Lithuania</option>
                          <option value="Luxembourg">Luxembourg</option>
                          <option value="Macao">Macao</option>
                          <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                          <option value="Madagascar">Madagascar</option>
                          <option value="Malawi">Malawi</option>
                          <option value="Malaysia">Malaysia</option>
                          <option value="Maldives">Maldives</option>
                          <option value="Mali">Mali</option>
                          <option value="Malta">Malta</option>
                          <option value="Marshall Islands">Marshall Islands</option>
                          <option value="Martinique">Martinique</option>
                          <option value="Mauritania">Mauritania</option>
                          <option value="Mauritius">Mauritius</option>
                          <option value="Mayotte">Mayotte</option>
                          <option value="Mexico">Mexico</option>
                          <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                          <option value="Moldova, Republic of">Moldova, Republic of</option>
                          <option value="Monaco">Monaco</option>
                          <option value="Mongolia">Mongolia</option>
                          <option value="Montenegro">Montenegro</option>
                          <option value="Montserrat">Montserrat</option>
                          <option value="Morocco">Morocco</option>
                          <option value="Mozambique">Mozambique</option>
                          <option value="Myanmar">Myanmar</option>
                          <option value="Namibia">Namibia</option>
                          <option value="Nauru">Nauru</option>
                          <option value="Nepal">Nepal</option>
                          <option value="Netherlands">Netherlands</option>
                          <option value="Netherlands Antilles">Netherlands Antilles</option>
                          <option value="New Caledonia">New Caledonia</option>
                          <option value="New Zealand">New Zealand</option>
                          <option value="Nicaragua">Nicaragua</option>
                          <option value="Niger">Niger</option>
                          <option value="Nigeria">Nigeria</option>
                          <option value="Niue">Niue</option>
                          <option value="Norfolk Island">Norfolk Island</option>
                          <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                          <option value="Norway">Norway</option>
                          <option value="Oman">Oman</option>
                          <option value="Pakistan">Pakistan</option>
                          <option value="Palau">Palau</option>
                          <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                          <option value="Panama">Panama</option>
                          <option value="Papua New Guinea">Papua New Guinea</option>
                          <option value="Paraguay">Paraguay</option>
                          <option value="Peru">Peru</option>
                          <option value="Philippines">Philippines</option>
                          <option value="Pitcairn">Pitcairn</option>
                          <option value="Poland">Poland</option>
                          <option value="Portugal">Portugal</option>
                          <option value="Puerto Rico">Puerto Rico</option>
                          <option value="Qatar">Qatar</option>
                          <option value="Reunion">Reunion</option>
                          <option value="Romania">Romania</option>
                          <option value="Russian Federation">Russian Federation</option>
                          <option value="Rwanda">Rwanda</option>
                          <option value="Saint Helena">Saint Helena</option>
                          <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                          <option value="Saint Lucia">Saint Lucia</option>
                          <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                          <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                          <option value="Samoa">Samoa</option>
                          <option value="San Marino">San Marino</option>
                          <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                          <option value="Saudi Arabia">Saudi Arabia</option>
                          <option value="Senegal">Senegal</option>
                          <option value="Serbia">Serbia</option>
                          <option value="Seychelles">Seychelles</option>
                          <option value="Sierra Leone">Sierra Leone</option>
                          <option value="Singapore">Singapore</option>
                          <option value="Slovakia">Slovakia</option>
                          <option value="Slovenia">Slovenia</option>
                          <option value="Solomon Islands">Solomon Islands</option>
                          <option value="Somalia">Somalia</option>
                          <option value="South Africa">South Africa</option>
                          <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                          <option value="Spain">Spain</option>
                          <option value="Sri Lanka">Sri Lanka</option>
                          <option value="Sudan">Sudan</option>
                          <option value="Suriname">Suriname</option>
                          <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                          <option value="Swaziland">Swaziland</option>
                          <option value="Sweden">Sweden</option>
                          <option value="Switzerland">Switzerland</option>
                          <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                          <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                          <option value="Tajikistan">Tajikistan</option>
                          <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                          <option value="Thailand">Thailand</option>
                          <option value="Timor-leste">Timor-leste</option>
                          <option value="Togo">Togo</option>
                          <option value="Tokelau">Tokelau</option>
                          <option value="Tonga">Tonga</option>
                          <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                          <option value="Tunisia">Tunisia</option>
                          <option value="Turkey">Turkey</option>
                          <option value="Turkmenistan">Turkmenistan</option>
                          <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                          <option value="Tuvalu">Tuvalu</option>
                          <option value="Uganda">Uganda</option>
                          <option value="Ukraine">Ukraine</option>
                          <option value="United Arab Emirates">United Arab Emirates</option>
                          <option value="United Kingdom">United Kingdom</option>
                          <option value="United States">United States</option>
                          <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                          <option value="Uruguay">Uruguay</option>
                          <option value="Uzbekistan">Uzbekistan</option>
                          <option value="Vanuatu">Vanuatu</option>
                          <option value="Venezuela">Venezuela</option>
                          <option value="Viet Nam">Viet Nam</option>
                          <option value="Virgin Islands, British">Virgin Islands, British</option>
                          <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                          <option value="Wallis and Futuna">Wallis and Futuna</option>
                          <option value="Western Sahara">Western Sahara</option>
                          <option value="Yemen">Yemen</option>
                          <option value="Zambia">Zambia</option>
                          <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                      </div>

                    </div>
                    <div class="md-form ml-0 mr-0">
                      {{ form.skills(class="form-control form-control-sm validate ml-0", id = "form29") }}
                      <label data-error="wrong" data-success="right" for="form29" class="ml-0" style="box-shadow: 0 0 0 0 ;">Skills</label>
                      {% if form.skills.errors %}
                        {% for error in form.skills.errors%}
                          <small class="form-text text-danger" style="margin-left: 10px;">{{ error }}</small>
                        {% endfor %}
                      {% endif %}
                      <p style="color: grey; font-size: 10px; text-align: left; margin-top: -30px;">Please write you skills seperated by comma (without using spaces before and after comma)</p>
                      <p style="color: grey; font-size: 10px; text-align: left;">For Eg. python,java,c</p>
                    </div>

                    <div class="md-form ml-0 mr-0">
                      {{ form.profile_pic(class="custom-file-label browse-1", style="width: 100%;") }}
                    </div>

                    <div class="text-center mt-4" style="transform: translate(0%,160%);">
                      
                      {{ form.submit(class="btn btn-cyan mt-1",placeholder = "Update") }}
                    </div>
                  </fieldset>
                </form>

            </div>
            <!--/.Content-->
          </div>
    </div>
      {% endif %}

</div>
<script type="text/javascript" src="{{ url_for('static',filename='MDB/js/jquery.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/mdb.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/particles.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/app.js')}}"></script>
  
  <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
  <script>
    $(document).ready(function(){
       $('.dropdown-toggle').dropdown()
   });
</script>
  <script type="text/javascript">
    $(function () {
    $('[data-toggle="popover"]').popover()
    })
  </script>

  <script  type="text/javascript">
      $(document).ready(function() {
        $('.mdb-select').materialSelect();
        });
  </script>

  {% endblock content %}