{% extends "layout.html" %}
{% block files %}
    <link rel="stylesheet" href="{{ url_for('static',filename='dark_theme.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.css') }}">

{% endblock files %}
{% block content %}
<div id="loader" class="center"></div> 
    
        
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category,message in messages%}
                        <div>
                            {% if category == "info" %}
                                <div class = "alert alert-info" ><i class="fas fa-bell fl-fw icon_bell"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button></div>
                            {% elif category == "success" %}
                                <div class = "alert alert-success" ><i class="fas fa-check-circle fl-fw icon_tick"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button></div>
                            {% elif category == "danger" %}
                                <div class = "alert alert-danger" ><i class="fas fa-times-circle fl-fw icon_danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            

            

            

            
            <!--Navbar -->
            <nav class="mb-1 navbar navbar-expand-lg navbar-dark" style="background: #131419; margin-top: -1px;">
                <span class="my-brand" style="color: #fff; font-size: 20px; font-weight: 600; cursor: pointer; margin-right: 20px;">AskNSolve</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                <ul class="navbar-nav mr-auto">
                    {% if current_user.is_authenticated %}
                    
                    <li class="nav-item menu-option">
                        <a class="nav-link button-i  active-i" style="color: lime; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = '#fff'" onmouseout="this.style.color = 'lime'" href="{{url_for('main.home')}}">Home</a>
                    </li>
                    <li class="nav-item menu-option">
                    <a class="nav-link button-ii" style="color: grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'orange'" onmouseout="this.style.color = 'grey'" href="{{url_for('posts.create_post')}}">Ask</a>
                    </li>
                    <li class="nav-item menu-option">
                    <a class="nav-link button-iii" style="color: grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = '#fff'" onmouseout="this.style.color = 'grey'" href="{{url_for('users.account',user_id = current_user.id)}}">Account</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item menu-option">
                        <a class="nav-link button-iv" style="color: rgb(126, 0, 0); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = '#FF0000'" onmouseout="this.style.color = 'crimson'" a href="{{url_for('users.logout')}}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item menu-option">
                        <a class="nav-link button-ii" style="color:grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'orange'" onmouseout="this.style.color = 'grey'" href="{{url_for('users.login')}}" >Login</a>
                    </li>
                    <li class="nav-item menu-option">
                        <a class="nav-link button-i" style="color: grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'lime'" onmouseout="this.style.color = 'grey'" href="{{url_for('users.register')}}" >Register</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </nav>
            <!--/.Navbar -->
  




            

        <div class="__container scroll" id="messageBody">
            <div class="_container" style="margin-top: 0px; background: transparent;">
                
                <div class="input-3" id="chats" style="background: transparent;">
                    {%for message in messages[:1]%}
                    
                        {% if message[0] == current_user.id %}
                            
                            <div style="text-align: right; margin-top: 250px;">
                                {% if message[1] != "No message" %}
                                    <div class="card text-left my_card_message-1" style="background: transparent; box-shadow: 0 0 0 0;">
                                        <div class="card-title my_message_name">
                                            {{current_user.username}}
                                        </div>

                                        <div class="card-text" style="background: transparent; width: auto;margin-left: 50%;"><p class="my_message-1">{{ message[1] }}</p></div>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}

                                <div class="text-left" style="margin-top: 250px;">
                                    {% if message[1] != "No message" %}
                                        
                                        <div class="card text-left my_card_message" style="background: transparent; ">
                                            <div class="card-title my_message_name-1">
                                                {% if _user.username|length > 14 %}
                                                    {{_user.username[:15]}}...
                                                {% else %}
                                                    {{_user.username}}
                                                {% endif %}
                                            </div>
                                            <div class="card-text" style="background: transparent; width: auto;margin-left: 0%;"><p class="my_message-2">{{ message[1] }}</p></div>
                                        </div>
                                    {% endif %}
                                </div>
                            
                        {% endif %}
                
                    {%endfor%}
                    {%for message in messages[1:]%}
                    
                        {% if message[0] == current_user.id %}
                            
                            <div style="text-align: right; margin-top: 3px;">
                                {% if message[1] != "No message" %}
                                    <div class="card text-left my_card_message-1" style="background: transparent; box-shadow: 0 0 0 0;">
                                        <div class="card-title my_message_name">
                                            {{current_user.username}}
                                        </div>

                                        <div class="card-text" style="background: transparent; width: auto;margin-left: 50%;"><p class="my_message-1">{{ message[1] }}</p></div>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}

                                <div class="text-left" style="margin-top: 3px;">
                                    {% if message[1] != "No message" %}
                                        
                                        <div class="card text-left my_card_message" style="background: transparent; ">
                                            <div class="card-title my_message_name-1">
                                                {% if _user.username|length > 14 %}
                                                    {{_user.username[:15]}}...
                                                {% else %}
                                                    {{_user.username}}
                                                {% endif %}
                                            </div>
                                            <div class="card-text" style="background: transparent; width: auto;margin-left: 0%;"><p class="my_message-2">{{ message[1] }}</p></div>
                                        </div>
                                    {% endif %}
                                </div>
                            
                        {% endif %}
                
                    {%endfor%}
                </div>                
    
            </div>
        </div>
        <form action="{{ url_for('users.chat_room',user_id = _user.id) }}" method = "POST" style="margin-top: 0px;">
            {{ form.hidden_tag() }}
            <fieldset class="post_form text-center">
              
              <div class="post_title" style="margin: 10px; margin-top: 0px;">
                {{ form.message(class = "form-control-2",placeholder = "Type here...", style="border-radius: 50px; padding-left:20px; padding-right:20px; width: 80%;") }}
                <button type="submit"  class="sendbutton">&nbsp;<i class="fas fa-paper-plane my_plane" style="margin-left: -5px;"></i></button>
              </div>
              
              
              
            </fieldset>
        </form>
    






        







    
    
    
  <!-- jQuery -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/jquery.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/mdb.min.js')}}"></script>
  <!-- Your custom scripts (optional) -->
  
  <script>
    function ajax(){

    var req = new XMLHttpRequest();
    req.onreadystatechange = function(){
    if(req.readyState == 4 && req.status == 200)
    {
    document.getElementById('chats').innerHTML = req.responseText;
    }
    }
    req.open("GET", "{{ url_for('users.all_chats', user_id = _user.id) }}", true);
    req.send();
    var messageBody = document.querySelector('#messageBody');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
    }
    setInterval(function(){ajax()}, 2000);
    </script>


  <script>
          $(function() {

      $(".get-nicer").niceScroll("div.nice-wrapper", {
        cursorwidth: "12px"
      });

      $(".get-nicer").scroll(function() {
        $("#scroll-info-value").val($(".get-nicer").scrollTop());
      });

      $("a.btn").click(function(e) {
        e.preventDefault();

        console.log('click', e.target);

        $('#nice-modal1').modal();
      });

    });

  </script>
  <script>
    var messageBody = document.querySelector('#messageBody');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
</script>
{% endblock content %}
