&nbsp;&nbsp;&nbsp;&nbsp;{% extends "layout.html" %}
{% block files %}
    <link rel="stylesheet" href="{{ url_for('static',filename='dark_theme.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.css') }}">

{% endblock files %}
{% block content %}

    <div class="__container-1" style="margin-top: -70px; background: transparent;">
             
            
                <div class="input-3" style="background: transparent;">
                    {%for message in messages[:1]%}
                    
                        {% if message[0] == current_user.id %}
                            <div style="text-align: right; margin-top: 250px;">
                                {% if message[1] != "No message" %}
                                    <div class="card text-left my_card_message-1" style="background: transparent; box-shadow: 0 0 0 0;">
                                        <div class="card-title my_message_name">
                                            {{current_user.username}}
                                            <div class="text-right" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">
                                            
                                                <a type="button"  class="btn btn-danger btn-sm text-center pt-2 mr-3" style="box-shadow: 0px 0px 5px rgba(255,0,0,0.5),0px 0px 5px rgba(255,0,0,0.5),0px 0px 10px rgba(255,0,0,0.5),inset 0px 0px 5px rgba(255,0,0,0.5);padding: 6px; height: 27px; width: 27px; font-size: 0px;border-radius: 50%;" href="{{url_for('users.chat_del',chat_id = message[3],user_id = message[4])}}">
                                                    <i class="fas fa-trash-alt" style="color: white; font-size: 13px; margin-top: -1px;"></i>
                                                </a>
                                                {% if current_user.active == "active" %}
                                                    <span title="{{ _user.active }} is active" style="cursor: pointer;"><i class="fas fa-circle" style="background: #131419; border: -3px solid #131419; border-radius: 50%;margin-top: 0px; padding: 7px; color: lime; text-shadow: 0px 0px 5px rgba(124,252,0,0.6),0px 0px 10px rgba(124,252,0,0.6),0px 0px 15px rgba(124,252,0,0.6); "></i></span>
                                                {% else %}
                                                    <span title="{{ _user.active }} isn't active" style="cursor: pointer;"><i class="fas fa-circle" style="background: #131419; border: -3px solid #131419; border-radius: 50%;margin-top: 0px; padding: 7px; color: rgb(70, 105, 35);"></i></span>
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="card-text" style="background: transparent; width: auto;margin-left: 50%;"><p class="my_message-1">{{ message[1] }}</p></div>
                                        
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}

                                <div class="text-left" style="margin-top: 250px;">
                                    {% if message[1] != "No message" %}
                                        
                                        <div class="card text-left my_card_message" style="background: transparent; ">
                                            <div class="card-title my_message_name-1">
                                                {% if _user.username|length > 14 %}
                                                    {{_user.username[:15]}}...
                                                {% else %}
                                                    {{_user.username}}
                                                {% endif %}
                                                <div class="text-right" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">
                                                    
                                                    {% if _user.active == "active" %}
                                                        <span title="{{ _user.active }} is active" style="cursor: pointer;"><i class="fas fa-circle" style="background: #131419; border: -3px solid #131419; border-radius: 50%;margin-top: 0px; padding: 7px; color: lime; text-shadow: 0px 0px 5px rgba(124,252,0,0.6),0px 0px 10px rgba(124,252,0,0.6),0px 0px 15px rgba(124,252,0,0.6); "></i></span>
                                                    {% else %}
                                                        <span title="{{ _user.active }} isn't active" style="cursor: pointer;"><i class="fas fa-circle" style="background: #131419; border: -3px solid #131419; border-radius: 50%;margin-top: 0px; padding: 7px; color: rgb(70, 105, 35);"></i></span>
                                                    {% endif %}
                                                    
                                                </div>
                                            </div>
                                            <div class="card-text" style="background: transparent; width: auto;margin-left: 0%;"><p class="my_message-2">{{ message[1] }}</p></div>
                                            
                                        </div>
                                    {% endif %}
                                </div>
                            
                        {% endif %}
                
                    {%endfor%}
                    {%for message in messages[1:]%}
                    
                        {% if message[0] == current_user.id %}
                            <div style="text-align: right; margin-top: 3px;">
                                {% if message[1] != "No message" %}
                                    <div class="card text-left my_card_message-1" style="background: transparent; box-shadow: 0 0 0 0;">
                                        <div class="card-title my_message_name">
                                            {{current_user.username}}
                                            <div class="text-right" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">
                                                <a type="button"  class="btn btn-danger btn-sm text-center pt-2 mr-3" style="box-shadow: 0px 0px 5px rgba(255,0,0,0.5),0px 0px 5px rgba(255,0,0,0.5),0px 0px 10px rgba(255,0,0,0.5),inset 0px 0px 5px rgba(255,0,0,0.5);padding: 6px; height: 27px; width: 27px; font-size: 0px;border-radius: 50%;" href="{{url_for('users.chat_del',chat_id = message[3],user_id = message[4])}}">
                                                    <i class="fas fa-trash-alt" style="color: white; font-size: 13px; margin-top: -1px;"></i>
                                                </a>
                                                
                                                {% if current_user.active == "active" %}
                                                    <span title="{{ _user.active }} is active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; background: #131419; border: -3px solid #131419; border-radius: 50%; color: lime; text-shadow: 0px 0px 5px rgba(124,252,0,0.6),0px 0px 10px rgba(124,252,0,0.6),0px 0px 15px rgba(124,252,0,0.6); "></i></span>
                                                {% else %}
                                                    <span title="{{ _user.active }} isn't active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; border: -3px solid #131419; border-radius: 50%; background: #131419; padding: 7px; color: rgb(70, 105, 35);"></i></span>
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="card-text" style="background: transparent; width: auto;margin-left: 50%;"><p class="my_message-1">{{ message[1] }}</p></div>
                                        
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}

                                <div class="text-left" style="margin-top: 3px;">
                                    {% if message[1] != "No message" %}
                                        
                                        <div class="card text-left my_card_message" style="background: transparent; ">
                                            <div class="card-title my_message_name-1">
                                                {% if _user.username|length > 14 %}
                                                    {{_user.username[:15]}}...
                                                {% else %}
                                                    {{_user.username}}
                                                {% endif %}
                                                <div class="text-right" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">
                                                    
                                                    {% if _user.active == "active" %}
                                                        <span title="{{ _user.active }} is active" style="cursor: pointer;"><i class="fas fa-circle" style="background: #131419; border: -3px solid #131419; border-radius: 50%;margin-top: 0px; padding: 7px; color: lime; text-shadow: 0px 0px 5px rgba(124,252,0,0.6),0px 0px 10px rgba(124,252,0,0.6),0px 0px 15px rgba(124,252,0,0.6); "></i></span>
                                                    {% else %}
                                                        <span title="{{ _user.active }} isn't active" style="cursor: pointer;"><i class="fas fa-circle" style="background: #131419; border: -3px solid #131419; border-radius: 50%;margin-top: 0px; padding: 7px; color: rgb(70, 105, 35);"></i></span>
                                                    {% endif %}
                                                    
                                                </div>
                                            </div>
                                            <div class="card-text" style="background: transparent; width: auto;margin-left: 0%;"><p class="my_message-2">{{ message[1] }}</p></div>
                                        </div>
                                    {% endif %}
                                </div>
                            
                        {% endif %}
                
                    {%endfor%}
                </div>                
    
            </div>

            
    </div>






        







    
    
    
  <!-- jQuery -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/jquery.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/mdb.min.js')}}"></script>
  <!-- Your custom scripts (optional) -->
  


  <script>
          $(function() {

      $(".get-nicer").niceScroll("div.nice-wrapper", {
        cursorwidth: "12px"
      });

      $(".get-nicer").scroll(function() {
        $("#scroll-info-value").val($(".get-nicer").scrollTop());
      });

      $("a.btn").click(function(e) {
        e.preventDefault();

        console.log('click', e.target);

        $('#nice-modal1').modal();
      });

    });

  </script>
{% endblock content %}
