{% extends "layout.html" %}
{% block files %}
    <link rel="stylesheet" href="{{ url_for('static',filename='my_chat_light.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.css') }}">
{% endblock files %}
{% block content %}
<div id="loader" class="center"></div> 
    
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category,message in messages%}
                    <div>
                        {% if category == "info" %}
                            <div class = "alert alert-info" ><i class="fas fa-bell fl-fw icon_bell"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button></div>
                        {% elif category == "success" %}
                            <div class = "alert alert-success" ><i class="fas fa-check-circle fl-fw icon_tick"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button></div>
                        {% elif category == "danger" %}
                            <div class = "alert alert-danger" ><i class="fas fa-times-circle fl-fw icon_danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button></div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <!--Navbar -->
            <nav class="mb-1 navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#" style="color: rgb(43, 148, 137); font-size: 20px; font-weight: 600;"><span class="letter-1">A</span>skNSolve</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                <ul class="navbar-nav mr-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item menu-option">
                    <a class="nav-link" style="color: rgb(51, 177, 164); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'rgb(51, 177, 164)'" href="{{url_for('main.home')}}">Home
                        
                    </a>
                    </li>
                    <li class="nav-item menu-option">
                    <a class="nav-link" style="color: rgb(51, 177, 164); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'rgb(51, 177, 164)'" href="{{url_for('posts.create_post')}}">Ask</a>
                    </li>
                    <li class="nav-item menu-option">
                    <a class="nav-link" style="color: rgb(51, 177, 164); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'rgb(51, 177, 164)'" href="{{url_for('users.account',user_id = current_user.id)}}">Account</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item menu-option">
                        <a class="nav-link" style="color: crimson; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'crimson'" a href="{{url_for('users.logout')}}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item menu-option">
                        <a class="nav-link" style="color: crimson; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'crimson'" href="{{url_for('users.login')}}" >Login</a>
                    </li>
                    <li class="nav-item menu-option">
                        <a class="nav-link" style="color: crimson; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'crimson'" href="{{url_for('users.register')}}" >Register</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </nav>
            <!--/.Navbar -->
        <div class="__container" style="height: 71vh;overflow-y: scroll;overflow-x: hidden;scrollbar-color: rgba(47, 192, 192,0.5) rgba(255,255,255,0.5);scroll-behavior: smooth;" id="messageBody">
            <div class="_container" style="margin-top: 0px; background: transparent;">
             
            
                <div class="input-3" id="chats" style="background: transparent;">
                    {%for message in messages[:1]%}
                    
                        {% if message[0] == current_user.id %}
                            <div style="text-align: right; margin-top: 250px;">
                                {% if message[1] != "No message" %}
                                    <div class="card text-left my_card_message-1" style="background: transparent; box-shadow: 0 0 0 0;">
                                        <div class="card-title my_message_name">
                                            {{current_user.username}}
                                            <div class="text-right" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">
                                                <mark style="background: #ebf5fc;padding: 4px; border-radius: 30px; padding-right: 10px;">
                                                {% if current_user.active == "active" %}
                                                    <span title="{{ current_user.username }} is active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: lime; text-shadow: 0px 0px 5px rgba(124,252,0,0.6),0px 0px 10px rgba(124,252,0,0.6),0px 0px 15px rgba(124,252,0,0.6); "></i><span style="color: limegreen;">active now</span></span>
                                                {% else %}
                                                <span title="{{ current_user.username }} isn't active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: rgb(70, 105, 35);"></i><span style="color: rgb(70, 105, 35);">not active</span></span>
                                                {% endif %}
                                                </mark>
                                            </div>
                                        </div>
                                        
                                        <div class="card-text" style="background: transparent; box-shadow: 0 0 0 0; width: auto;margin-left: 50%;"><p class="my_message-1">{{ message[1] }}</p></div>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}

                                <div class="text-left" style="margin-top: 250px;">
                                    {% if message[1] != "No message" %}
                                        
                                        <div class="card text-left my_card_message" style="background: transparent; box-shadow: 0 0 0 0;">
                                            <div class="card-title my_message_name-1">
                                                {% if _user.username|length > 14 %}
                                                    {{_user.username[:15]}}...
                                                {% else %}
                                                    {{_user.username}}
                                                {% endif %}
                                                <div class="text-right" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">
                                                    <mark style="background: #ebf5fc;padding: 4px; border-radius: 30px; padding-right: 10px;">
                                                    {% if _user.active == "active" %}
                                                        <span title="{{ _user.username }} is active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: lime; text-shadow: 0px 0px 5px rgba(124,252,0,0.6),0px 0px 10px rgba(124,252,0,0.6),0px 0px 15px rgba(124,252,0,0.6); "></i><span style="color: limegreen;">active now</span></span>
                                                    {% else %}
                                                    <span title="{{ _user.username }} isn't active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: rgb(70, 105, 35);"></i><span style="color: rgb(70, 105, 35);">not active</span></span>
                                                    {% endif %}
                                                    </mark>
                                                </div>
                                            </div>
                                            <div class="card-text" style="background: transparent; width: auto;margin-left: 0%; box-shadow: 0 0 0 0;"><p class="my_message-2" style="box-shadow: 0 0 0 0;">{{ message[1] }}</p></div>
                                        </div>
                                    {% endif %}
                                </div>
                            
                        {% endif %}
                
                    {%endfor%}
                    {%for message in messages[1:]%}
                    
                        {% if message[0] == current_user.id %}
                            <div style="text-align: right; margin-top: 3px;">
                                {% if message[1] != "No message" %}
                                    <div class="card text-left my_card_message-1" style="background: transparent; box-shadow: 0 0 0 0;">
                                        <div class="card-title my_message_name">
                                            {{current_user.username}}
                                            <div class="text-right" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">
                                                <mark style="background: #ebf5fc;padding: 4px; border-radius: 30px; padding-right: 10px;">
                                                {% if current_user.active == "active" %}
                                                    <span title="{{ current_user.username }} is active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: lime; text-shadow: 0px 0px 5px rgba(124,252,0,0.6),0px 0px 10px rgba(124,252,0,0.6),0px 0px 15px rgba(124,252,0,0.6); "></i><span style="color: limegreen;">active now</span></span>
                                                {% else %}
                                                <span title="{{ current_user.username }} isn't active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: rgb(70, 105, 35);"></i><span style="color: rgb(70, 105, 35);">not active</span></span>
                                                {% endif %}
                                                </mark>
                                            </div>
                                        </div>
                                        
                                        <div class="card-text" style="background: transparent; box-shadow: 0 0 0 0; width: auto;margin-left: 50%;"><p class="my_message-1">{{ message[1] }}</p></div>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            
                                <div class="text-left" style="margin-top: 3px;">
                                    {% if message[1] != "No message" %}
                                        
                                        <div class="card text-left my_card_message" style="background: transparent; box-shadow: 0 0 0 0;">
                                            <div class="card-title my_message_name-1">
                                                {% if _user.username|length > 14 %}
                                                    {{_user.username[:15]}}...
                                                {% else %}
                                                    {{_user.username}}
                                                {% endif %}
                                                <div class="text-right" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">
                                                    <mark style="background: #ebf5fc;padding: 4px; border-radius: 30px; padding-right: 10px;">
                                                    {% if _user.active == "active" %}
                                                        <span title="{{ _user.username }} is active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: lime; text-shadow: 0px 0px 5px rgba(124,252,0,0.6),0px 0px 10px rgba(124,252,0,0.6),0px 0px 15px rgba(124,252,0,0.6); "></i><span style="color: limegreen;">active now</span></span>
                                                    {% else %}
                                                    <span title="{{ _user.username }} isn't active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: rgb(70, 105, 35);"></i><span style="color: rgb(70, 105, 35);">not active</span></span>
                                                    {% endif %}
                                                    </mark>
                                                </div>
                                            </div>
                                            <div class="card-text" style="background: transparent; width: auto;margin-left: 0%; box-shadow: 0 0 0 0;"><p class="my_message-2" style="box-shadow: 0 0 0 0;">{{ message[1] }}</p></div>
                                        </div>
                                    {% endif %}
                                </div>
                            
                        {% endif %}
                
                    {%endfor%}
                </div>                
    
            </div>

            
    </div>
    <form action="{{ url_for('users.chat_room',user_id = _user.id) }}" method = "POST" style="margin-top: 10px;">
        {{ form.hidden_tag() }}
        <fieldset class="post_form text-center">
          <div class="post_title text-center" style="margin: 10px; margin-top: 0px;">
            {{ form.message(class = "form-control-3",placeholder = "Type here...", style="color: teal;width: 100%;background: transparent;border: 1px solid transparent;border-radius: 5px;padding: 10px;box-shadow:-5px -5px 15px rgba(255,255,255,1),5px 5px 10px rgba(0,0,0,0.2); width: 80%; border-radius:50px; padding-left:20px; padding-right:20px;", onmouseover = "this.style.color = 'teal'", onmouseover = "this.style.border = '2px solid rgba(0, 255, 229,0.4)'",onmouseout = "this.style.color = 'silver'", onmouseout = "this.style.border = '2px solid rgba(0, 255, 229,0.9)'") }}
            <button type="submit" class="sendbutton-1" style="height: 50px;width: 50px;border: 2px solid rgb(0, 160, 160);color: aqua;border-color: aqua;background: rgb(0, 121, 121);border-radius: 50%;cursor: pointer;transition: 0.2s ease;"><i class="fas fa-paper-plane my_plane"></i></button>
          </div>
          
          
            
          
        </fieldset>
    </form>

    



            

    
        
      
    


    

        





    
    <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static',filename = 'MDB/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename = 'MDB/js/popper.js') }}"></script>
      
    <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/jquery.min.js')}}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/popper.min.js')}}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/bootstrap.min.js')}}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/mdb.min.js')}}"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>

    <script>
        function ajax(){
    
        var req = new XMLHttpRequest();
        req.onreadystatechange = function(){
        if(req.readyState == 4 && req.status == 200)
        {
        document.getElementById('chats').innerHTML = req.responseText;
        }
        }
        req.open("GET", "{{ url_for('users.all_chats', user_id = _user.id) }}", true);
        req.send();
        var messageBody = document.querySelector('#messageBody');
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        }
        setInterval(function(){ajax()}, 1000);
    </script>

    <script>
        var messageBody = document.querySelector('#messageBody');
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
    </script>
{% endblock content %}