{% extends "layout.html" %}
{% block files %}
    <link rel="stylesheet" href="{{ url_for('static',filename='light_theme.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='my_style.css')}}">
    
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.css') }}">
    
    

{% endblock files %}
{% block content %}
<div id="loader" class="center"></div> 
    <div class="__container">
        
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category,message in messages%}
                        <div>
                            {% if category == "info" %}
                                <div class = "alert alert-info" ><i class="fas fa-bell fl-fw icon_bell"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button></div>
                            {% elif category == "success" %}
                                <div class = "alert alert-success" ><i class="fas fa-check-circle fl-fw icon_tick"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button></div>
                            {% elif category == "danger" %}
                                <div class = "alert alert-danger" ><i class="fas fa-times-circle fl-fw icon_danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            

            

            

            
            <!--Navbar -->
            <nav class="mb-1 navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#" style="color: rgb(43, 148, 137); font-size: 20px; font-weight: 600;">
                    <span class="letter-1">A</span>skNSolve
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                <ul class="navbar-nav mr-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item menu-option active-1111">
                    <a class="nav-link" style="color: rgb(51, 177, 164); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'rgb(51, 177, 164)'" href="{{url_for('main.home')}}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                    </li>
                    <li class="nav-item menu-option">
                    <a class="nav-link" style="color: rgb(51, 177, 164); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'rgb(51, 177, 164)'" href="{{url_for('posts.create_post')}}">Ask</a>
                    </li>
                    <li class="nav-item menu-option">
                    <a class="nav-link" style="color: rgb(51, 177, 164); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'rgb(51, 177, 164)'" href="{{url_for('users.account',user_id = current_user.id)}}">Account</a>
                    </li>
                    
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <form style="display: flex;" action="{{ url_for('users.search') }}" method="POST">
                        <input type="text" name="search_keyword" class="form-control-1 search-bar" style="margin-top: 5px; width: 90%; height: 35px;border: 1.5px solid rgb(43, 148, 137);color: rgb(117, 117, 117); margin-left: 20px;" placeholder="Search" onmouseover="this.style.color = 'rgb(117,117,117)'" onmouseout="this.style.color = 'teal'">
                        <button type="submit" class="btn btn-sm text-center pt-1.5 mr-3" style="padding: 6px; height: 35px; width: 50px; border-radius: 8px; background: rgb(43, 148, 137);"><i class="fas fa-search" style="color: white; font-size: 15px; margin-top: 0px;"></i></button>
                        </form>
                    </li>

                    <li class="nav-item menu-option">
                        <a class="nav-link" style="color: crimson; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'crimson'" href="{{url_for('users.logout')}}">Logout</a>
                    </li>
                    
                    {% else %}
                    <li class="nav-item menu-option">
                        <a class="nav-link" style="color: crimson; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'crimson'" href="{{url_for('users.login')}}" >Login</a>
                    </li>
                    <li class="nav-item menu-option">
                        <a class="nav-link" style="color: crimson; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'crimson'" href="{{url_for('users.register')}}" >Register</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </nav>
            <!--/.Navbar -->
  
            



        
        <div class="_container">
            
                <div class="input-1">
                    {% for post in posts.items %}
                            <div class="form-1">
                                <div class="card" style="background: transparent; box-shadow: 0 0 0 0; width: 100%; border-radius: 10px;">
                                    <div class="card-header">
                                        {% if current_user.is_authenticated %}
                                            <a href="{{ url_for('users.account',user_id = post.author.id) }}"><img src="{{ url_for('static',filename = 'images/'+post.author.profile_pic)}}" class="profile-pic-1" alt="Profile Picture">
                                        {% else %}
                                            <a href="{{ url_for('users.login',user_id = post.author.id) }}"><img src="{{ url_for('static',filename = 'images/'+post.author.profile_pic)}}" class="profile-pic-1" alt="Profile Picture">
                                        {% endif %}
                                            </a>
                                        <div style="width: 40%; padding-left: 2px; height: 28px; margin-left: 65px; margin-top: -45px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                        {% if current_user.is_authenticated %}
                                            <a href="{{ url_for('users.account',user_id = post.author.id) }}" style="font-size: 16px; margin-left: -1px; font-weight: 510; color: dimgray;">
                                        {% else %}
                                            <a href="{{ url_for('users.login') }}" style="font-size: 16px; margin-left: -1px; font-weight: 510; color: dimgray;">
                                        {% endif %}
                                            {{ post.author.username }}</a></div>

                                            <div class="text-right" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -40px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">
                                                {% if post.author.active == "active" %}
                                                    <span title="{{ post.author.username }} is active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: lime; text-shadow: 0px 0px 5px rgba(124,252,0,0.3),0px 0px 10px rgba(124,252,0,0.3),0px 0px 15px rgba(124,252,0,0.3); "></i><span style="color: limegreen;">active now</span></span>
                                                {% else %}
                                                <span title="{{ post.author.username }} isn't active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: rgb(70, 105, 35);"></i><span style="color: rgb(70, 105, 35);">not active&nbsp;&nbsp;</span></span>
                                                {% endif %}
                                            </div>
                                            
                                            <div class="text-right" style="color: rgb(78, 78, 78); width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; cursor: pointer;" onmouseover="this.style.color = 'white'" onmouseout="this.style.color = 'rgb(78, 78, 78)'">{{ post.date_posted.strftime('%H:%M:%S') }} &nbsp;&nbsp;&nbsp;{{ post.date_posted.strftime('%d/%m/%Y') }}</div>
                                        

                                    </div>
                                    <div class="card-body">
                                        {% if current_user.is_authenticated %}
                                            <a href="{{url_for('posts.post', post_id = post.id)}}" ><p class="post_title" style="color: rgb(43, 148, 137); font-size: 15px; font-weight: 600;display: block; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'rgb(43, 148, 137)'">
                                        {% else %}
                                            <a href="{{url_for('users.login')}}" ><p class="post_title" style="color: rgb(43, 148, 137); font-size: 15px; font-weight: 600; display: block; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onmouseover="this.style.color = 'grey'" onmouseout="this.style.color = 'rgb(43, 148, 137)'">
                                        {% endif %}
                                                
                                            {{ post.title }}
                                            </p></a>
                            

                                    
                                    </div>
                                </div>
                            </div>
                                
                        {% endfor %}
                        <div class="text-center">
                            <div class="btn-group">
                                {% for no in posts.iter_pages(left_edge = 1,right_edge = 1, left_current = 1, right_current = 2) %}
                                    {% if no %}
                                        {% if posts.page == no %}
                                            <a href="{{ url_for('main.home',page = no) }}" class="page-i active-1111">{{ no }}</a>
                                        {% else %}
                                            <a href="{{ url_for('main.home',page = no) }}" class="page-i">{{ no }}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="#" class="page-i">...</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                </div>
            
        </div>


                <!-- Button trigger modal -->
        <button type="button" class="btn btn-sm" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:rgb(51, 177, 164);color:#FFF;border-radius:50px;text-align:center;box-shadow: 2px 2px 3px #999;" data-toggle="modal" data-target="#exampleModalLong">
            <i class="fas fa-bell my_bell"></i>
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h6 class="modal-title text-muted" id="exampleModalLongTitle">Notifications</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <button class="tablink" onclick="openPage('Home', this, 'transparent')">Likes Receieved</button>
                    <button class="tablink" onclick="openPage('News', this, 'transparent')" id="defaultOpen">Inbox messages</button>
                    <button class="tablink" onclick="openPage('Contact', this, 'transparent')">Your Comments</button>
                    <button class="tablink" onclick="openPage('About', this, 'transparent')">Got Comments</button>
                    
                    <div id="Home" class="tabcontent">
                      <h6 class="text-center mt-n3" style="background: teal; border-radius: 10px; padding: 10px; margin-bottom: 30px;">Likes on your posts</h6>
                        {% for like in all_likes %}
                            <div class="card mb-4">
                                
                                <div class="card-body text-muted">
                                    <a href="{{ url_for('users.account',user_id = like[1]) }}" style="color: teal;">{{like[0]}}</a> liked your <a href="{{ url_for('posts.post',post_id = like[2]) }}" style="color: teal;">post</a><a href="{{ url_for('posts.post',post_id = like[2]) }}"><i class="fas fa-arrow-right" style="float: right; color: teal;"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div id="News" class="tabcontent">
                        <h6 class="text-center mt-n3" style="background: red; border-radius: 10px; padding: 10px; margin-bottom: 30px;">Chats alerts</h6>
                        {% for chat in all_chats %}
                            <div class="card mb-4">
                                
                                <div class="card-body text-muted">
                                    <a href="{{ url_for('users.account',user_id = chat[1]) }}" style="color: red;">{{chat[0]}}</a> have sent you a message.<a href="{{ url_for('users.chat_room',user_id = chat[1]) }}"><i class="fas fa-arrow-right" style="float: right; color: red;"></i></a>
                                </div>
                            </div>
                            
                        {% endfor %}
                    </div>
                    
                    <div id="Contact" class="tabcontent">
                        <h6 class="text-center mt-n3" style="background: rgb(137, 0, 201); border-radius: 10px; padding: 10px; margin-bottom: 30px;">Your Comments on Posts</h6>
                        {% for comment in all_his_comments %}
                            <div class="card mb-4">
                                    
                                <div class="card-body text-muted">
                                    <a href="{{ url_for('users.account',user_id = current_user.id) }}" style="color: rgb(137, 0, 201);">You</a> commented on this <a href="{{ url_for('posts.post',post_id = comment[1]) }}" style="color: rgb(137, 0, 201);">post</a> by <a href="{{ url_for('users.account',user_id = comment[0].id) }}" style="color: rgb(137, 0, 201);">{{ comment[0].username }}</a><a href="{{ url_for('posts.post',post_id = comment[1]) }}"><i class="fas fa-arrow-right" style="float: right; color: rgb(137, 0, 201);"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div id="About" class="tabcontent">
                        
                            <h6 class="text-center mt-n3" style="background: rgb(38, 127, 165);border-radius: 10px; padding: 10px; margin-bottom: 30px;">Comments on Your Posts</h6>
                            {% for comment in all_got_comments %}
                                <div class="card mb-4">
                                        
                                    <div class="card-body text-muted">
                                        <a href="{{ url_for('users.account',user_id = current_user.id) }}" style="color: rgb(38, 127, 165);">You</a> got comment on this <a href="{{ url_for('posts.post',post_id = comment.post__id) }}" style="color: rgb(38, 127, 165);">post</a><a href="{{ url_for('posts.post',post_id = comment.post__id) }}"><i class="fas fa-arrow-right" style="float: right; color: rgb(38, 127, 165);"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                </div>
                <div class="modal-footer" style="margin: auto;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

</div>






        







    
    
    
  <!-- jQuery -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/jquery.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/mdb.min.js')}}"></script>
  <!-- Your custom scripts (optional) -->
  <script>
    function openPage(pageName,elmnt,color) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
      }
      document.getElementById(pageName).style.display = "block";
      elmnt.style.backgroundColor = color;
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
  <script>
          $(function() {

      $(".get-nicer").niceScroll("div.nice-wrapper", {
        cursorwidth: "12px"
      });

      $(".get-nicer").scroll(function() {
        $("#scroll-info-value").val($(".get-nicer").scrollTop());
      });

      $("a.btn").click(function(e) {
        e.preventDefault();

        console.log('click', e.target);

        $('#nice-modal1').modal();
      });

    });

  </script>
{% endblock content %}
