{% extends "layout.html" %}
  {% block files %}
    <link rel="stylesheet" href="{{ url_for('static',filename='my_style.css')}}">
    <style>
        

      @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

      * {
        box-sizing: border-box;
      }
      *::before, *::after {
        box-sizing: border-box;
      }
      body {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        min-height: 100vh;
        background: #ebf5fc;
        overflow: hidden;
      }
      #container-123 {
        position: relative;
        transform: scale(0.725);
      }
      .divider {
        position: absolute;
        z-index: 2;
        top: 65px;
        left: 200px;
        width: 50px;
        height: 15px;
        background: #ebf5fc;
      }
      .loading-text {
        position: relative;
        font-size: 2.5rem;
        font-weight: 300;
        margin: 0;
        white-space: nowrap;
      }
      .loading-text::before {
        position: absolute;
        content: '';
        z-index: 1;
        top: 40px;
        left: 115px;
        width: 7px;
        height: 7px;
        background: #31aa9e;
        border-radius: 50%;
        animation: dotMove 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
      }
      .loading-text .letter {
        display: inline-block;
        position: relative;
        color: #31aa9e;
        letter-spacing: -4px;
      }
      .loading-text .letter:nth-child(1) {
        transform-origin: 100% 70%;
        transform: scale(1, 1.275);
      }
      .loading-text .letter:nth-child(1)::before {
        position: absolute;
        content: '';
        top: 15px;
        left: 0;
        width: 14px;
        height: 36px;
        background: #ebf5fc;
        transform-origin: 100% 0;
        animation: lineStretch 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
      }
      .loading-text .letter:nth-child(4) {
        transform-origin: 100% 70%;
        animation: letterStretch 1800ms cubic-bezier(0.25, 0.23, 0.73, 0.75) infinite;
      }
      .loading-text .letter:nth-child(4)::before {
        position: absolute;
        content: '';
        top: 15px;
        left: 2px;
        width: 9px;
        height: 15px;
        background: #ebf5fc;
      }
      @keyframes dotMove {
        0%, 100% {
          transform: rotate(160deg) translate(-50px, -20px) rotate(-180deg);
        }
        50% {
          transform: rotate(40deg) translate(-60px, 20px) rotate(0deg);
        }
      }
      @keyframes letterStretch {
        0%, 100% {
          transform: scale(1, 0.35);
          transform-origin: 100% 75%;
        }
        8%, 28% {
          transform: scale(1, 2.125);
          transform-origin: 100% 67%;
        }
        37% {
          transform: scale(1, 0.875);
          transform-origin: 100% 75%;
        }
        46% {
          transform: scale(1, 1.03);
          transform-origin: 100% 75%;
        }
        50%, 97% {
          transform: scale(1);
          transform-origin: 100% 75%;
        }
      }
      @keyframes lineStretch {
        0%, 45%, 70%, 100% {
          transform: scaleY(0.125);
        }
        49% {
          transform: scaleY(0.75);
        }
        50% {
          transform: scaleY(0.875);
        }
        53% {
          transform: scaleY(0.5);
        }
        60% {
          transform: scaleY(0);
        }
        68% {
          transform: scaleY(0.18);
        }
      }
      @media (min-width: 48rem) {
        #container-123 {
          transform: scale(0.725rem);
        }
      }
      @media (min-width: 62rem) {
        #container-123 {
          transform: scale(0.85);
        }
      }
      
      
  </style>
  {% endblock files %}
  {% block content %}
  <div id="loader" class="center"></div> 
<div class="__container">
  {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
          {% for category,message in messages%}
              <div>
                  {% if category == "info" %}
                      <div class = "alert alert-info" ><i class="fas fa-bell fl-fw icon_bell"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button></div>
                  {% elif category == "success" %}
                      <div class = "alert alert-success" ><i class="fas fa-check-circle fl-fw icon_tick"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button></div>
                  {% elif category == "danger" %}
                      <div class = "alert alert-danger" ><i class="fas fa-times-circle fl-fw icon_danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button></div>
                  {% endif %}
              </div>
          {% endfor %}
      {% endif %}
    {% endwith %}

    
    <div class="_container">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <div class="form">
            <div class="input">
              
              <div id="container-123">
                <div class="divider" aria-hidden="true"></div>
                <p class="loading-text text-center" aria-label="Loading">
                  <span class="letter" aria-hidden="true">L</span>
                  <span class="letter" aria-hidden="true">O</span>
                  <span class="letter" aria-hidden="true">G</span>
                  <span class="letter" aria-hidden="true">I</span>
                  <span class="letter" aria-hidden="true">N</span>
                  
                </p>
              </div>
              <div class="inputbox">
                {{ form.email(class = "input",placeholder = "Username / Email") }}
                {% if form.email.errors %}
                {% for error in form.email.errors%}
                  <small class="form-text text-danger" style="margin-left: 10px;">{{ error }}</small>
                {% endfor %}
              {% endif %}
              </div>
            
              
              <div class="inputbox">
                {{ form.password(class = "input",placeholder = "Password")}}

                  {% if form.password.errors %}
                    {% for error in form.password.errors%}
                      <small class="form-text text-danger" style="margin-left: 10px;">{{ error }}</small>
                    {% endfor %}
                  {% endif %}
              </div>
              
              <div class="custom-control custom-checkbox mb-4 mt-3">
                {{ form.checkbox(class = "custom-control-input", style = "background: red;", type = "checkbox",  id="defaultUnchecked") }}
                {% if form.checkbox.errors %}
                  {% for error in form.checkbox.errors%}
                    <small class="form-text text-danger" style="margin-left: 10px;">{{ error }}</small>
                  {% endfor %}
                {% endif %}
                <label class="custom-control-label forget-3" for="defaultUnchecked" style="margin-left: 10px;">Remember Me</label>
              </div>


              <div class="inputbox" style="margin-bottom: 30px;">
                {{ form.submit(type = "submit", placeholder = "Login") }}
              </div>
            </div>
            <a href="{{ url_for('users.request_reset') }}" class="forget">Forgot Password ?</a><br><br>
            <a href="{{ url_for('users.register') }}"  class="forget-2">Need An Account ?</a>
          </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static',filename='MDB/js/jquery.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/mdb.min.js')}}"></script>
  {% endblock content %}