{% extends "layout.html" %}
{% block files %}
    <link rel="stylesheet" href="{{ url_for('static',filename='dark_theme.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.css') }}">
    <style>
        @media (max-width: 48em) {
        .input-1{
            width: 100%;
        }
    }
    </style>

{% endblock files %}
{% block content %}
<div id="loader" class="center"></div> 
    <div class="__container">
        
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category,message in messages%}
                        <div>
                            {% if category == "info" %}
                                <div class = "alert alert-info" ><i class="fas fa-bell fl-fw icon_bell"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button></div>
                            {% elif category == "success" %}
                                <div class = "alert alert-success" ><i class="fas fa-check-circle fl-fw icon_tick"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button></div>
                            {% elif category == "danger" %}
                                <div class = "alert alert-danger" ><i class="fas fa-times-circle fl-fw icon_danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            

            

            

            
            <!--Navbar -->
            <nav class="mb-1 navbar navbar-expand-lg navbar-dark" style="background: #131419; margin-top: 0px;">
                <span class="my-brand" style="color: #fff; font-size: 20px; font-weight: 600; cursor: pointer; margin-right: 20px;">AskNSolve</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                <ul class="navbar-nav mr-auto">
                    {% if current_user.is_authenticated %}
                    
                    <li class="nav-item menu-option">
                        <a class="nav-link button-i" style="color: grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'lime'" onmouseout="this.style.color = 'grey'" href="{{url_for('main.home')}}">Home</a>
                    </li>
                    <li class="nav-item menu-option">
                    <a class="nav-link button-ii" style="color: grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'orange'" onmouseout="this.style.color = 'grey'" href="{{url_for('posts.create_post')}}">Ask</a>
                    </li>
                    <li class="nav-item menu-option">
                    <a class="nav-link button-iii" style="color: grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = '#fff'" onmouseout="this.style.color = 'grey'" href="{{url_for('users.account',user_id = current_user.id)}}">Account</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <form style="display: flex;" action="{{ url_for('users.search') }}" method="POST">
                        <input type="text" name="search_keyword" class="form-control-1 search-bar" style="margin-top: 5px; width: 90%; height: 35px;border: 1.5px solid grey;color: rgb(117, 117, 117); margin-left: 20px; background: #131419; padding: 5px; text-align: left; border-radius: 5px;" placeholder="Search" onmouseover="this.style.border = '1.5px solid aqua'" onfocus="this.style.color='aqua'" onblur="this.style.color='grey'" onmouseout="this.style.border = '1.5px solid grey'">
                        <button type="submit" class="btn btn-sm text-center pt-1.5 mr-3" style="padding: 6px; height: 35px; width: 50px; border-radius: 8px; background: #131419; border: 1.5px solid grey;"><i class="fas fa-search" style="color: white; font-size: 15px; margin-top: 0px;"></i></button>
                        </form>
                    </li>

                    <li class="nav-item menu-option">
                        <a class="nav-link button-iv" style="color: rgb(126, 0, 0); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = '#FF0000'" onmouseout="this.style.color = 'crimson'" a href="{{url_for('users.logout')}}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item menu-option">
                        <a class="nav-link button-ii" style="color:grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'orange'" onmouseout="this.style.color = 'grey'" href="{{url_for('users.login')}}" >Login</a>
                    </li>
                    <li class="nav-item menu-option">
                        <a class="nav-link button-i" style="color: grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'lime'" onmouseout="this.style.color = 'grey'" href="{{url_for('users.register')}}" >Register</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </nav>
            <!--/.Navbar -->
  




        
        <div class="_container">
            
                <div class="input-1">
                    {% if follow_page and searched_users|length == 0 and searched_posts|length == 0 %}
                        <div class="card" style="background: transparent; box-shadow: 0 0 0 0; width: 100%; border-radius: 10px;">
                            <div class="card-header text-muted" style="font-size: 40px; border: 2px solid grey;">
                                No Data Found!
                            </div>
                            <div class="card-body text-muted text-center">
                                Don't worry you are the best...
                            </div>
                        </div>
                    {% elif searched_users|length == 0 and searched_posts|length == 0 and not (follow_page) %}
                        <div class="card" style="background: transparent; box-shadow: 0 0 0 0; width: 100%; border-radius: 10px;">
                            <div class="card-header text-muted" style="font-size: 40px; border: 2px solid grey;">
                                No results
                            </div>
                            <div class="card-body text-muted text-left">
                                <ul style="margin-left: 10px;">
                                    <li>Check if the username/email is valid or not.</li>
                                    <li>Usernames/Emails are case sensitive.</li>
                                    <li>If you are searching a post then enter the full title properly.</li>
                                    <li>If you are searching a post and you know the author's name you can search for that user instead.And then visit his profile and tap the more option and then tap on my posts.Then you will be able to see all his posts.</li><br>
                                    <li>If you still face any problem you can email us.We are here to help you out.</li>

                                </ul>
                            </div>
                        </div>
                    {%else%}
                    {% for user in searched_users %}
                            <div class="form-1">
                                <div class="card" style="background: transparent; box-shadow: 0 0 0 0; width: 100%; border-radius: 10px;">
                                    <div class="card-header" style="box-shadow: -2px -2px 6px rgba(255,255,255,0.1),2px 2px 6px rgba(0,0,0,0.8);">
                                        
                                        {% if current_user.is_authenticated %}
                                            <form action="{{ url_for('users.account',user_id = user.id) }}"><button type="submit" class="button-pic"><img src="{{ url_for('static',filename = 'images/'+user.profile_pic)}}" class="profile-pic-1" alt="Profile Picture" style="height: 40px; width: 40px;"></button></form>
                                        {% else %}
                                            <form action="{{ url_for('users.login') }}"><button type="submit" class="button-pic"><img src="{{ url_for('static',filename = 'images/'+user.profile_pic)}}" class="profile-pic-1" alt="Profile Picture"></button></form>
                                        {% endif %}
                                            
                                        <div style="width: 40%; padding-left: 2px; height: 50px; border: 2px solid transparent; margin-left: 55px; margin-top: -57px; padding-top: 10px; padding-left: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">

                                        {% if current_user.is_authenticated %}
                                            <a class="button-username" href="{{ url_for('users.account',user_id = user.id) }}" style="font-size: 16px; margin-left: -1px; font-weight: 510; color: rgb(78, 78, 78);" onmouseover="this.style.color='#00ffff'" onmouseout="this.style.color='grey'">
                                        {% else %}
                                            <a href="{{ url_for('users.login') }}" style="font-size: 16px; margin-left: -1px; font-weight: 510; color: rgb(78, 78, 78);" onmouseover="this.style.color='#00ffff'" onmouseout="this.style.color='grey'">
                                        {% endif %}
                                            {{ user.username }}</a></div>

                                        <div class="text-right" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -55px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">
                                            {% if user.active == "active" %}
                                                <span title="{{ user.username }} is active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: lime; text-shadow: 0px 0px 5px rgba(124,252,0,0.6),0px 0px 10px rgba(124,252,0,0.6),0px 0px 15px rgba(124,252,0,0.6); "></i><span style="color: limegreen;">active now</span></span>
                                            {% else %}
                                            <span title="{{ user.username }} isn't active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: rgb(70, 105, 35);"></i><span style="color: rgb(70, 105, 35);">not active</span></span>
                                            {% endif %}
                                        </div>
                                        
                                       
                                    </div>
                                    <div class="card-body text-center">
                                        {% if user.id != current_user.id %}
                                            <a class="btn btn-sm" style="border: 1.5px solid aqua; color: aqua;" href="{{url_for('users.chat_room',user_id = user.id)}}">Message</a>
                                        {% endif %}
                                        <a class="btn btn-sm" style="border: 1.5px solid orange; color: orange;" href="{{url_for('users.account',user_id = user.id)}}">Visit Profile</a> 
                                    </div>
                                </div>
                            </div>
                                
                        {% endfor %}
                    
                    {% for post in searched_posts %}
                        <div class="form-1">
                            <div class="card" style="background: transparent; box-shadow: 0 0 0 0; width: 100%; border-radius: 10px;">
                                  
                                <div class="card-body">
                                    {% if current_user.is_authenticated %}
                                                <a href="{{url_for('posts.post', post_id = post.id)}}" ><p class="post_title" style="padding: 10px; color: rgb(43, 148, 137); font-size: 15px; font-weight: 600;display: block; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onmouseover="this.style.color = 'lime'" onmouseout="this.style.color = 'rgb(43, 148, 137)'">
                                            {% else %}
                                                <a href="{{url_for('users.login')}}" ><p class="post_title" style="padding: 10px; color: rgb(43, 148, 137); font-size: 15px; font-weight: 600; display: block; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onmouseover="this.style.color = 'lime'" onmouseout="this.style.color = 'rgb(43, 148, 137)'">
                                            {% endif %}
                                                {{ post.title }}
                                                </p></a>
                                    
                                    {% if current_user.is_authenticated %}
                                                <a href="{{url_for('posts.post', post_id = post.id)}}" ><p class="post_title" style="padding: 10px; color: grey; font-size: 15px; font-weight: 600;display: block; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onmouseover="this.style.color = 'silver'" onmouseout="this.style.color = 'grey'">
                                            {% else %}
                                                <a href="{{url_for('users.login')}}" ><p class="post_title" style="padding: 10px; color: grey; font-size: 15px; font-weight: 600; display: block; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onmouseover="this.style.color = 'silver'" onmouseout="this.style.color = 'grey'">
                                            {% endif %}
                                                {{ post.content }}
                                                </p></a>
                                

                                
                                </div>
                            </div>
                        </div>
                            
                    {% endfor %}
                {%endif%}
                        
                </div>
            
        </div>

</div>






        







    
    
    
  <!-- jQuery -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/jquery.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/mdb.min.js')}}"></script>
  <!-- Your custom scripts (optional) -->
  
  <script>
          $(function() {

      $(".get-nicer").niceScroll("div.nice-wrapper", {
        cursorwidth: "12px"
      });

      $(".get-nicer").scroll(function() {
        $("#scroll-info-value").val($(".get-nicer").scrollTop());
      });

      $("a.btn").click(function(e) {
        e.preventDefault();

        console.log('click', e.target);

        $('#nice-modal1').modal();
      });

    });

  </script>
{% endblock content %}
