{% extends "layout.html" %}
{% block files %}

    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='dark_theme.css')}}">
    
{% endblock files %}
{% block content %}
<div id="loader" class="center"></div> 
    <div class="__container">
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category,message in messages%}
                    <div>
                        {% if category == "info" %}
                            <div class = "alert alert-info" ><i class="fas fa-bell fl-fw icon_bell"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button></div>
                        {% elif category == "success" %}
                            <div class = "alert alert-success" ><i class="fas fa-check-circle fl-fw icon_tick"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button></div>
                        {% elif category == "danger" %}
                            <div class = "alert alert-danger" ><i class="fas fa-times-circle fl-fw icon_danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button></div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <!--Navbar -->
            <nav class="mb-1 navbar navbar-expand-lg navbar-dark" style="background: #131419;">
                <span class="my-brand" style="color: #fff; font-size: 20px; font-weight: 600; cursor: pointer; margin-right: 20px;">AskNSolve</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                <ul class="navbar-nav mr-auto">
                    {% if current_user.is_authenticated %}
                    
                    <li class="nav-item menu-option">
                        <a class="nav-link button-i" style="color: grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'lime'" onmouseout="this.style.color = 'grey'" href="{{url_for('main.home')}}">Home</a>
                    </li>
                    <li class="nav-item menu-option">
                    <a class="nav-link button-ii" style="color: grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'orange'" onmouseout="this.style.color = 'grey'" href="{{url_for('posts.create_post')}}">Ask</a>
                    </li>
                    <li class="nav-item menu-option">
                    <a class="nav-link button-iii" style="color: grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = '#fff'" onmouseout="this.style.color = 'grey'" href="{{url_for('users.account',user_id = current_user.id)}}">Account</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item menu-option">
                        <a class="nav-link button-iv" style="color: rgb(126, 0, 0); font-size: 15px; font-weight: 600;" onmouseover="this.style.color = '#FF0000'" onmouseout="this.style.color = 'crimson'" a href="{{url_for('users.logout')}}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item menu-option">
                        <a class="nav-link button-ii" style="color:grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'orange'" onmouseout="this.style.color = 'grey'" href="{{url_for('users.login')}}" >Login</a>
                    </li>
                    <li class="nav-item menu-option">
                        <a class="nav-link button-i" style="color: grey; font-size: 15px; font-weight: 600;" onmouseover="this.style.color = 'lime'" onmouseout="this.style.color = 'grey'" href="{{url_for('users.register')}}" >Register</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </nav>
            <!--/.Navbar -->
        <div class="_container">
            <div class="input-1">
                <div class="form-3" style="text-align: left; border-radius: 5px; border-width: 4px;">
                        

                            

                            <div class="card" style="background: transparent; box-shadow: 0 0 0 0; width: 100%; border-radius: 10px;">
                                <div class="card-header">
                                    
                                    {% if current_user.is_authenticated %}
                                        <a href="{{ url_for('users.account',user_id = post.author.id) }}"><img src="{{ url_for('static',filename = 'images/'+post.author.profile_pic)}}" class="profile-pic-1" style="height: 60px; width: 60px;" alt="Profile Picture">
                                    {% else %}
                                        <a href="{{ url_for('users.login',user_id = post.author.id) }}"><img src="{{ url_for('static',filename = 'images/'+post.author.profile_pic)}}" class="profile-pic-1" style="height: 60px; width: 60px;" alt="Profile Picture">
                                    {% endif %}
                                        </a>
                                    <div style="width: 40%; padding-left: 2px; height: 40px; padding: 10px; margin-left: 80px; margin-top: -65px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                    {% if current_user.is_authenticated %}
                                        <a class="button-username-1" href="{{ url_for('users.account',user_id = post.author.id) }}" style="font-size: 18px; margin-left: -1px; font-weight: 510; color: rgba(0,255,255);">
                                    {% else %}
                                        <a class="button-username-1" href="{{ url_for('users.login') }}" style="font-size: 18px; margin-left: -1px; font-weight: 510; color: rgba(0,255,255);">
                                    {% endif %}
                                        {{ post.author.username }}</a>
                                        
                                    </div>
                                        
                                        <div class="text-right text-muted" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -43px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">{{ no_of_likes }} <i class="far fa-thumbs-up"></i> &nbsp;&nbsp;&nbsp;{{ _comments|length }} <i class="far fa-comments"></i></div>
                                        <div class="text-right" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: -28px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">
                                            {% if post.author.active == "active" %}
                                                <span title="{{ post.author.username }} is active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: lime; text-shadow: 0px 0px 5px rgba(124,252,0,0.6),0px 0px 10px rgba(124,252,0,0.6),0px 0px 15px rgba(124,252,0,0.6); "></i><span style="color: limegreen;">active now</span></span>
                                            {% else %}
                                                <span title="{{ post.author.username }} isn't active" style="cursor: pointer;"><i class="fas fa-circle" style="margin-top: 0px; padding: 7px; color: rgb(70, 105, 35);"></i><span style="color: rgb(70, 105, 35);">not active</span></span>
                                            {% endif %}
                                        </div>
                                        
                                </div>

                                <div class="card-body">

                                <div class="text-right">
                                    <div class="btn-group mt-n2 mb-n4">
                                        
                                        
                                        {% if post_like_name == "like" %}
                                            
                                        <a class="likebutton text-center pt-1.5 mr-3" style="padding: 6px; height: 30px; width: 30px; font-size: 0px;border-radius: 50%; margin-top: 0px;"  href="{{url_for('posts.like',post_id = post.id)}}"><i class="fas fa-thumbs-up" style="color: #fff; font-size: 15px; margin-top: 0px;"></i></a>

                                            

                                        {% elif post_like_name == "unlike" %}
                                            <a class="unlikebutton text-center pt-2 mr-3" style="padding: 6px; height: 30px; width: 30px; font-size: 0px;border-radius: 50%;"  href="{{url_for('posts.like',post_id = post.id)}}"><i class="fas fa-thumbs-down" style="color: #fff; font-size: 15px; margin-top: 0px;"></i></a>
                                        {% endif %}
                                        
                                        <div class="dropdown">
                                            <button class="three-dots text-center pt-2 mr-3 dropdown-toggle" style="padding: 6px; height: 30px; width: 30px; font-size: 0px;border-radius: 50%;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v" style="color: lime; font-size: 15px; margin-top: -1px;"></i>
                                            </button>
                                        
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-top: 15px; background: #131419; margin-left: -100px; padding-left: 9px; border: 2px solid #fff; box-shadow: 0px 0px 5px rgb(0, 174, 255,0.5),0px 0px 10px rgba(0, 174, 255,0.5),0px 0px 15px rgba(0, 174, 255,0.5),inset 0px 0px 10px rgba(0, 174, 255,0.5);">
                                                <button class="text-center pt-2 mr-3" style="box-shadow: 0px 0px 5px rgb(0, 174, 255,0.5),0px 0px 10px rgba(0, 174, 255,0.5),0px 0px 15px rgba(0, 174, 255,0.5),inset 0px 0px 10px rgba(0, 174, 255,0.5); padding: 6px; height: 30px; width: 30px; font-size: 0px;border-radius: 50%; background: transparent; border-color: transparent; margin-bottom: 15px;" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-comment-dots" style="color: rgb(0, 174, 255); font-size: 15px; margin-top: -1px;"></i></button>
                                                <button type="button" class="text-center pt-2 mr-3" style="box-shadow: 0px 0px 5px rgba(187, 255, 0,0.5),0px 0px 10px rgba(187, 255, 0,0.5),0px 0px 15px rgba(187, 255, 0,0.5),inset 0px 0px 10px rgba(187, 255, 0,0.5); background: transparent; border-color: transparent; padding: 6px; height: 30px; width: 30px; font-size: 0px;border-radius: 50%;" data-toggle="modal" data-target="#exampleModal">
                                                    <i class="fas fa-comments" style="color: rgb(187, 255, 0); font-size: 15px; margin-top: -2px; "></i>
                                                </button>
                                                {% if post.author.username == current_user.username or current_user.username == "ADMIN01" %}
                                                    <button type="button"  class="text-center pt-2 mr-3" style="box-shadow: 0px 0px 5px rgba(255,0,0,0.5),0px 0px 10px rgba(255,0,0,0.5),0px 0px 15px rgba(255,0,0,0.5),inset 0px 0px 10px rgba(255,0,0,0.5); padding: 6px; background: transparent; border-color: transparent; height: 30px; width: 30px; font-size: 0px;border-radius: 50%;" data-toggle="modal" data-target="#DELETE">
                                                        <i class="fas fa-trash-alt" style="color: red; font-size: 15px; margin-top: -2px;"></i>
                                                    </button>
                                                {% endif %}
                                                {% if post.author.username == current_user.username or current_user.username == "ADMIN01" %}
                                                    <form action="{{ url_for('posts.update_post', post_id = post.id) }}" method="POST">
                                                    <button type="submit" class="text-center pt-2 mr-3" style="box-shadow: 0px 0px 5px rgba(255,255,0,0.5),0px 0px 10px rgba(255,255,0,0.5),0px 0px 15px rgba(255,255,0,0.5),inset 0px 0px 10px rgba(255, 255, 0,0.5); padding: 6px; height: 30px; width: 30px; font-size: 0px;border-radius: 50%; background: transparent; border-color: transparent;"><i class="fas fa-edit" style="color: #ffff00; font-size: 15px; margin-top: -1px;"></i></button></form>
                                                {% endif %}
                                            
                                            </div>
                                        </div>
                                 
                                    </div>

                                </div>    
                                <div href="#" ><p class="post_title" style="margin-left: -7px; margin-top: -10px; height: 30px; border: 2px solid transparent; font-size: 20px; color: #516169;">
                                    
                                    <div class="overlay" style="color: rgb(0,255,255); font-size: 20px; font-weight: 500;">{{ post.title }}</div>
                                    
                                </p></div>

                                <div href="#" ><p class="" style="margin-left: 2px; margin-top: -35px; height: 30px; border: 2px solid transparent; font-size: 15px; color: #788e99;">
                                    
                                    <div class="overlay" style="color: silver; font-size: 17px; font-weight: 500; white-space: pre-wrap;">{{ post.content }}</div>
                                </p></div>
                                <div class="text-right text-muted" style="width: 25%; padding-left: 2px; float: right; font-size: 10px; margin-top: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff;">posted on {{ post.date_posted.strftime('%d %B %Y') }} at {{ post.date_posted.strftime('%H:%M:%S') }}</div>
                                </div>
                                
                            </div>




                        
                </div>
            </div>


        </div>
    </div>
    
    <div class="modal fade" id="DELETE" tabindex="-1" role="dialog" aria-labelledby="DELETELabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="DELETELabel" style="color: tomato;">WARNING</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Do you want to delete this post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('posts.delete_post',post_id = post.id) }}" method="POST">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    



            

    
        
      
    


        
    
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                
                <div class = "form-group">
                    <form action = "" method = "POST">
                      {{ form.hidden_tag() }}
                        <fieldset class = "">        
                            <div class="form-group">
                                {{ form.commentor(class = "form-control",placeholder = "Username") }}
                                {% if form.commentor.errors %}
                                    {% for error in form.commentor.errors%}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            
                            </div>
                        
                        
                        
                            <div class="form-group purple-border">
                                
                                {{ form.comment(class="form-control", id="exampleFormControlTextarea4", rows="3",placeholder = "Type you comment/answer here...") }}
                                {% if form.comment.errors %}
                                  {% for error in form.comment.errors%}
                                        <small class="form-text text-danger">{{ error }}</small>
                                  {% endfor %}
                                {% endif %}

                            </div>
                            
                           
                          
                        </fieldset>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btnlight" data-dismiss="modal">Close</button>
                            <div class = "submit_btn">
                                {{ form.submit(class = "btn btn-primary") }}
                              </div>
                        </div>
                    </form>
                  </div>
                  

            </div>
            
        </div>
        </div>
    </div>

    

        





    <div class="modal left fade" id="exampleModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background: transparent;">
                
                <div class="modal-body" style="overflow-x: hidden;scrollbar-color: rgba(0,0,0,0.6) rgba(255,255,255,0);scroll-behavior: smooth;">
                    <div class="nav flex-sm-column flex-row">
                                   <!--Grid row-->
                        <div class="row">
                        
                            <!--Grid column-->
                            <div class="col-md-15 mb-4">
                                
                                
                                {% for comment in _comments %}
                                    <div class="card mb-4 ml-2" style="width: 335px;">
                                        <div class="card-header">
                                            Commented by {{comment.commentor}}
                                        </div>
                                        <div class="card-body">
                                        <img src="{{ url_for('static',filename = 'images/'+comment.profile_pic) }}" class="rounded float-left" style="height: 70px; width: 70px;">
                                        <div class="float-right mt-n1">
                                            <h5 class="card-title">{{comment.commentor}}</h5>
                                            <p class="card-text " style="font-size: 10px;">{{comment.timestamp.strftime('%a %d %B %Y')}}</p>
                                            <p class="card-text mt-n2" style="font-size: 10px;">{{comment.timestamp.strftime('%H:%M:%S')}}</p>
                                        </div>
                                        
                                        </div>
                                        <div class="card-body float-bottom">
                                            <p class="card-text text-muted" style="white-space: pre-wrap;">{{comment.comment}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fixed-bottom text-center">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>







    <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static',filename = 'MDB/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename = 'MDB/js/popper.js') }}"></script>
      
    <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/jquery.min.js')}}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/popper.min.js')}}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/bootstrap.min.js')}}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/mdb.min.js')}}"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script>
      $(document).ready(function(){
         $('.dropdown-toggle').dropdown()
     });
  </script>
    <script type="text/javascript">
      $(function () {
      $('[data-toggle="popover"]').popover()
      })
    </script>
  
    <script>
        $(document).ready(function() {
          $('.mdb-select').materialSelect();
          });
    </script>
{% endblock content %}