*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif,Arial, Helvetica;
}
.scroll {
    height: 71vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: aqua rgba(0,0,0,0.5);
    scroll-behavior: smooth;
}
.__container,.__container-1{
    color: #131419;
}
body{
    background: #131419;
}
.sendbutton:hover .my_plane,.sendbutton:focus .my_plane{
    color: aqua;
    animation: .5s shakeD infinite alternate;
}

@keyframes shakeD {
    0% {
        transform: skewX(-15deg);
   }
    20% {
        transform: skewX(15deg);
   }
    40% {
        transform: skewX(-15deg);
   }
    60% {
        transform: skewX(15deg);
   }
    80% {
        transform: skewX(0deg);
        
   }
    100% {
        transform: skewX(0deg);
   }
}
._container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131419;
}
.form{
    position: relative;
    width: 350px;
    padding: 40px 40px 60px;
    background: #131419;
    border-radius: 10px;
    text-align: center;
    box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
               inset 2px 2px 6px rgba(0,0,0,0.8);

}
.form h2{
    color: #a8a8a8;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.form .input{
    text-align: left;
    margin-top: 40px;
}
.form .input .inputbox label{
    display: block;
    color: #868686;
    margin-bottom: 5px;
    font-size: 18px;
}
.form .input .inputbox{
    margin-top: 10px;
}

.form .input .inputbox input{
    width: 100%;
    height: 50px;
    background: #131419;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 5px 15px;
    color: #a8a8a8;
    font-size: 18px;
    color: #a8a8a8;
    box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
               inset 2px 2px 6px rgba(0,0,0,0.8);
}
.form .input .inputbox input[type = "submit"]{
    margin-top: 10px;
    width: 70%;
    margin-left: 15%;
    color: #a8a8a8;
    box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
               inset 2px 2px 6px rgba(0,0,0,0.8);
}
.form .input .inputbox input[type = "password"]{
    margin-top: 20px;
    color: #a8a8a8;
}
.form .input .inputbox input[type = "text"]:focus,.form .input .inputbox input[type = "password"]:focus{

    color: rgb(0, 199, 199);
    box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
               inset 2px 2px 6px rgba(0,0,0,0.8);
    margin-bottom: 5px;
}
.form .input .inputbox input[type = "submit"]:active{

    color: rgb(0, 156, 156);
    margin-top: 10px;
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                 2px 2px 6px rgba(0,0,0,0.8);
}
.form .input .inputbox input::placeholder{
    color: #aaaaaa;
    font-size: 18px;
}
.forget{
    color: #a8a8a8;
    cursor: pointer;
}
.forget-3{
    color: #a8a8a8;
    cursor: pointer;
}
.forget-2{
    margin-top: 10px;
    color: #a8a8a8;
    cursor: pointer;
}
.forget:active, .forget:hover{
    margin-top: 30px;
    color: rgb(0, 199, 199);
}
.forget-2:active, .forget-2:hover{
    margin-top: 10px;
    color: rgb(0, 199, 199);
}



input[type=checkbox] {
    display: none;
}
input[type=checkbox]:checked {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: rgb(0, 199, 199);
    text-align: center;
    line-height: 15px;
    
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
background-color: rgba(0,199,199);
color: rgb(0, 199, 199);
box-shadow: inset -2px -2px 6px rgba(0,0,0,0.1),
                inset 2px 2px 6px rgba(255,255,255,0.1);
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    color: rgb(0, 199, 199);
}




.menu-option{
    width: 90px;
    text-align: center;
    color: rgb(49, 170, 158);
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
               inset 2px 2px 6px rgba(0,0,0,0.8);
}
.page-i{
    width: 40px;
    padding-top: 5px;
    text-align: center;
    color: rgb(49, 170, 158);
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    box-shadow:-2px -2px 6px rgba(255,255,255,0.1),
               2px 2px 6px rgba(0,0,0,0.8);
}

.profile-pic-1{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px;
    margin-bottom: 10px;
    box-shadow:-2px -2px 6px rgba(255,255,255,0.1),
               2px 2px 6px rgba(0,0,0,0.8);
}
.menu-option:hover,.menu-option:focus,.menu-option:active, .page-i:hover, .page-i:focus, .profile-pic-1:active,.profile-pic-1:hover, .profile-pic-1:focus, .page-i:active{
    text-align: center;
    color: rgb(0,255,255);
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    box-shadow:-2px -2px 6px rgba(255,255,255,0.1),
            2px 2px 6px rgba(0,0,0,0.8);
}
.form-control-1:focus{
    color: rgb(0,255,255);
    box-shadow:-2px -2px 6px rgba(255,255,255,0.1),
            2px 2px 6px rgba(0,0,0,0.8);
}
.active-1{
    border: 3px solid #fff;
    box-shadow:   0px 0px 5px rgba(33,156,243,0.5),
                   0px 0px 10px rgba(33,156,243,0.5),
                   0px 0px 15px rgba(33,156,243,0.5),
                   inset 0px 0px 10px rgba(33,156,243,1);
}
.profile-pic-1:active,.profile-pic-1:hover, .profile-pic-1:focus{
    margin-left: 4px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
               inset 2px 2px 6px rgba(0,0,0,0.8);
}

.page-i:hover,.page-i:focus,.page-i:active{
    width: 55px;
    color: #fff;
    border: 2px solid #fff;
    text-shadow: 0px 0px 5px rgba(33,156,243,0.5),
                0px 0px 10px rgba(33,156,243,0.5);
    box-shadow:   0px 0px 5px rgba(33,156,243,0.5),
                   0px 0px 10px rgba(33,156,243,0.5),
                   0px 0px 15px rgba(33,156,243,0.5),
                   inset 0px 0px 10px rgba(33,156,243,1);

}
.form-control-1:focus{
    text-align: center;
    margin-left: 0px;

}
.form-1,.form-2,.from-3{
    position: relative;
    width: 100%;
    background: #131419;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 30px;
    box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
               inset 2px 2px 6px rgba(0,0,0,0.8);

}
header,.cardbody{
    width: auto;
    border-radius: 5px;
    box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
               inset 2px 2px 6px rgba(0,0,0,0.8);
}
.cardbody{
    margin-top: 40px;
}


.form-3,.form-1:hover,.form-1:focus,.form-1:active,.form-2:hover,.form-2:focus,.form-2:active{
    border: 3px solid #fff;
    box-shadow:   0px 0px 5px rgba(33,156,243,0.5),
                   0px 0px 10px rgba(33,156,243,0.5),
                   0px 0px 15px rgba(33,156,243,0.5),
                   inset 0px 0px 10px rgba(33,156,243,1);
}
.profile-pic-1:hover,.profile-pic-1:active{
    height: 43px;
    width: 43px;
    border: 3px solid rgb(253, 173, 0);
    box-shadow: 0px 0px 5px rgba(253, 173, 0,0.8),
                0px 0px 10px rgba(253, 173, 0,0.8),
                0px 0px 15px rgba(253, 173, 0,0.8),
                inset 0px 0px 10px rgba(253, 173, 0,0.8);
}
.button-username-1{
    
    
    text-shadow: 0px 0px 5px rgba(0, 255, 255,0.6),
                0px 0px 10px rgba(0, 255, 255,0.6),
                0px 0px 15px rgba(0, 255, 255,0.6);               
}
.likebutton{
    border: 1px solid #fff;
    background: #131419;
    box-shadow: 0px 0px 5px rgba(0, 255, 255,0.8),
                0px 0px 10px rgba(0, 255, 255,0.8),
                0px 0px 15px rgba(0, 255, 255,0.8),
                inset 0px 0px 15px rgba(0, 255, 255,0.8); 
    text-shadow: 0px 0px 5px rgba(0, 255, 255,0.8),
                0px 0px 10px rgba(0, 255, 255,0.8);  
}
.unlikebutton{
    border: 1px solid rgba(255,0,0,1);
    box-shadow:   0px 0px 5px rgba(255,0,0,0.8),
                   0px 0px 10px rgba(255,0,0,0.8),
                   0px 0px 15px rgba(255,0,0,0.8),
                   inset 0px 0px 10px rgba(255,0,0,0.8);
    text-shadow: 0px 0px 10px rgba(255,0,0,1),
                 0px 0px 20px rgba(255,0,0,1);  
}
.three-dots{
    border: 1px solid rgba(0,255,0,1);
    background: #131419;
    box-shadow:   0px 0px 5px rgba(0,255,0,0.8),
                   0px 0px 10px rgba(0,255,0,0.8),
                   0px 0px 15px rgba(0,255,0,0.8),
                   inset 0px 0px 10px rgba(0,255,0,0.8);
    text-shadow: 0px 0px 10px rgba(0,255,0,0.8),
                 0px 0px 20px rgba(0,255,0,0.8);
}
.button-username:hover{
    
    color: rgba(0,255,255,1);
    text-shadow: 0px 0px 5px rgba(0, 255, 255,0.6),
                0px 0px 10px rgba(0, 255, 255,0.6),
                0px 0px 15px rgba(0, 255, 255,0.6);               
}

.post_title:hover{
    text-shadow: 0px 0px 5px rgba(124,252,0,0.4),
                0px 0px 10px rgba(124,252,0,0.4),
                0px 0px 15px rgba(124,252,0,0.4);     
}
.my_message-1,.my_message-2{
    color: #fff;
    border: 2px solid rgb(0,255,255);
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    padding: 15px;   
}
.my_message-2{
    border-color: rgb(255, 115, 0);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
}
.my_card_message{
    width: 40%;
}
.my_card_message-1,.my_message_name{
    margin-left: 20%;
}
.ask_button{
    width: 90px;
    padding: 10px;
    background: #131419;
    color: rgb(49, 170, 158);
    font-weight: 600;
    border: 2px solid rgb(49, 170, 158);
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8);
}
.ask_button:hover,.ask_button:focus,.ask_button:active{
    color: rgb(0, 255, 229);
    border: 2px solid rgb(0, 255, 229);
    font-size: 17px;
    text-shadow: 0px 0px 5px rgba(0, 255, 229,0.4),
                 0px 0px 10px rgba(0, 255, 229,0.4);
    box-shadow: 0px 0px 5px rgba(0, 255, 229,0.5),
                0px 0px 10px rgba(0, 255, 229,0.5),
                0px 0px 15px rgba(0, 255, 229,0.5),
                inset 0px 0px 10px rgba(0, 255, 229,1);
}

.input-1,.input-3{
    position: relative;
    width: 78%;
    padding: 40px 40px 60px;
    background: #131419;
    border-radius: 10px;
    text-align: center;
}
.input-3{
    width: 100%;
    height: 500px;
}
.form-2{
    padding: 30px;
}
.form-control-2{
    color: rgb(163, 162, 162);
    width: 100%;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid rgba(0, 255, 229,0.3);
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                    2px 2px 6px rgba(0,0,0,0.8);
}
.form-control-1{
    color: rgba(163, 162, 162,0.5);
    
    border: 2px solid rgba(0, 255, 229,0.3);
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                    2px 2px 6px rgba(0,0,0,0.8);
}
.form-control-2:focus{
    border-color: rgb(0, 202, 202);
    color: aqua;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
                  inset  2px 2px 6px rgba(0,0,0,0.8);
}
.nav-link{
    letter-spacing: 0.1em;
}
.nav-link:hover{
    border-radius: 5px;
    letter-spacing: 0.1em;
    border: 2px solid #fff;
    box-shadow:   0px 0px 5px rgba(33,156,243,0.5),
                   0px 0px 10px rgba(33,156,243,0.5),
                   0px 0px 15px rgba(33,156,243,0.5),
                   inset 0px 0px 10px rgba(33,156,243,1);
}
.my_message_name{
    background: rgb(0,255,255);
    color: #131419;
    margin-left: 50%;
    margin-bottom: -5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    padding-left: 15px;
}
.my_message_name-1{
    background: rgb(255, 115, 0);
    color: #131419;
    margin-bottom: -5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    padding-left: 15px;
}
.button-iii:hover{
    border-radius: 5px;
    letter-spacing: 0.1em;
    border: 2px solid #fff;
    box-shadow:   0px 0px 5px rgba(33,156,243,0.5),
                   0px 0px 10px rgba(33,156,243,0.5),
                   0px 0px 15px rgba(33,156,243,0.5),
                   inset 0px 0px 10px rgba(33,156,243,1);
    text-shadow: 0px 0px 10px rgba(33,156,243,1),
                 0px 0px 20px rgba(33,156,243,1);
}
.button-pic,.button-username{
    background: transparent;
    border-color: transparent;
}

.button-i:hover,.active-i{
    border: 2px solid rgba(0,255,0,1);
    border-radius: 5px;
    box-shadow:   0px 0px 5px rgba(0,255,0,0.5),
                   0px 0px 10px rgba(0,255,0,0.5),
                   0px 0px 15px rgba(0,255,0,0.5),
                   inset 0px 0px 10px rgba(0,255,0,0.5);
    text-shadow: 0px 0px 10px rgba(0,255,0,1),
                 0px 0px 20px rgba(0,255,0,1);
}
.nav-link{
    color: rgba(0,255,0,1);
}
.button-ii:hover,.active-ii{
    border: 2px solid rgba(255,165,0,1);
    border-radius: 5px;
    box-shadow:    0px 0px 5px rgba(255,165,0,0.5),
                   0px 0px 10px rgba(255,165,0,0.5),
                   0px 0px 15px rgba(255,165,0,0.5),
                   inset 0px 0px 10px rgba(255,165,0,0.5);
    text-shadow: 0px 0px 10px rgba(255,165,0,1),
                 0px 0px 20px rgba(255,165,0,1);
}
.button-iv:hover{
    border: 2px solid rgba(255,0,0,1);
    box-shadow:   0px 0px 5px rgba(255,0,0,0.5),
                   0px 0px 10px rgba(255,0,0,0.5),
                   0px 0px 15px rgba(255,0,0,0.5),
                   inset 0px 0px 10px rgba(255,0,0,0.5);
    text-shadow: 0px 0px 10px rgba(255,0,0,1),
                 0px 0px 20px rgba(255,0,0,1);
}
.my-brand{
    text-shadow:   0px 0px 5px rgba(33,156,243,1),
                   0px 0px 10px rgba(33,156,243,1);
                   
}
@media (max-width: 48em) {
    .input-1{
        width: 100%;
    }
    .ask_button{
        margin-left: 30px;
    }
    .__container-1{
        width: 150%;
        margin-left: -25%;
        margin-top: -20%;
    }
    .form-1,.form-3{
        width: 112%;
        margin-left: -20px;
    }
    .form-control-1{
        margin-left: 0%;
        width: 80%;
    }
    .form-control-1:focus{
        margin-left: 0%;
    }
    .ask_button{
        margin-right:10%;
    }
    .menu-option{
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form-2{
        margin-left: -11%;
        width: 120%;
    }
    .circle-3{
        height: 0px;
        width: 0px;
    }
    .my_message-1{
        color: #fff;
        border: 2px solid rgb(0,255,255);
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        padding: 15px;   
    }
    .my_card_message{
        width: 70%;
    }
    .my_card_message-1{
        margin-left: -20%;
    }
}
@media (min-width: 400px) and (max-width: 600px){
    .__container-1{
        width: 130%;
        margin-left: -14%;
        margin-top: -20%;
    }
}
@media (min-width: 600px) and (max-width: 780px) {

    .menu-option{
        margin-top: 5px;
        margin-bottom: 20px;
        width: 95%;
    }
    .form-2{
        margin-left: 0;
        width: 100%;
    }
    .__container-1{
        width: 110%;
        margin-left: -5%;
    }
    .my_message-1{
        color: #fff;
        border: 2px solid rgb(0,255,255);
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        padding: 15px;   
    }
    .my_card_message{
        width: 40%;
    }
    .my_card_message-1{
        margin-left: 20%;
    }

}
@media (max-width: 900px) and (min-width: 780px){
    .form-1,.form-3{
        width: 105%;
    }
    .input-1{
        margin-top: -300px;
    }
    ._container{
        margin-top: -4%;
    }
    
  }

.container-i{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: #131419;
    text-align: center;
    
}
.container-ii{
    width: 339px;
    display: inline-block;
    height: auto;
    border-radius: 5px;
    border: 4px solid #fff;
    text-shadow: 0px 0px 5px rgba(33,156,243,0.5),
                0px 0px 10px rgba(33,156,243,0.5);
    box-shadow:   0px 0px 5px rgba(33,156,243,0.5),
                   0px 0px 10px rgba(33,156,243,0.5),
                   0px 0px 15px rgba(33,156,243,0.5);
    margin-top: 40px;
}
.sub-container-i{
    width: 330px;
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #fff;
}
.profile-pic-1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}




.my_message_bar{
    display: flex;
}
.sendbutton{
    height: 50px;
    width: 50px;
    background: teal;
    border: 2px solid rgb(0, 160, 160);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}
.sendbutton:hover,.sendbutton:active{
    color: aqua;
}



.circle-1,.circle-2,.circle-3,.circle-4,.circle-5,.circle-6{
    color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                    2px 2px 6px rgba(0,0,0,0.8);
    
}
.circle-1:nth-child(1){
    float: left;
    margin-top: -30px;
    margin-left: -30px;
    animation: animate1 4s linear infinite;
    overflow: hidden;
}
.circle-2:nth-child(2){
    float: right;
    margin-top: 80px;
    margin-right: -20px;
    width: 50px;
    height: 50px;
    animation: animate2 4s linear infinite;
    animation-delay: 0.5s;
    overflow: hidden;

}
.circle-3:nth-child(3){
    float: right;
    margin-top: -60px;
    margin-right: -80px;
    width: 90px;
    height: 90px;
    animation: animate3 4s linear infinite;
    animation-delay: 1s;
    overflow: hidden;
}
.circle-4:nth-child(4){
    width: 10px;
    height: 10px;
    padding-left: 13px;
    animation: animate4 4s linear infinite;
    animation-delay: 2s;
    overflow: hidden;
}
.circle-5:nth-child(5){
    float: right;
    animation: animate5 4s linear infinite;
    animation-delay: 3s;
    overflow: hidden;
}
.circle-6:nth-child(6){
    float: left;
    margin-top: 80px;
    margin-left: -20px;
    width: 60px;
    height: 60px;
    animation: animate6 4s linear infinite;
    animation-delay: 4s;
    overflow: hidden;
}
@keyframes animate1{
    0%{
        box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                    2px 2px 6px rgba(0,0,0,0.8);
        
        border: 50px solid lime;
        top: 10px;
    }
    10%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
                   
    }
    20%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
        border: 3px solid red;      
    }
    30%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: lime;            
    }
    40%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: chartreuse;
    }
    50%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 1px solid aqua;          
    }
    60%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: aquamarine;           
    }
    70%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: greenyellow;            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    90%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 255);            
    }
    100%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 50px solid rgb(0, 255, 255); 

    }
}
@keyframes animate2{
    0%{
        box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                    2px 2px 6px rgba(0,0,0,0.8);
        
        border: 25px solid lime;
        top: 10px;
    }
    10%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
                   
    }
    20%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
        border: 3px solid red;      
    }
    30%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: lime;            
    }
    40%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: chartreuse;
    }
    50%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 1px solid aqua;          
    }
    60%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: aquamarine;           
    }
    70%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: greenyellow;            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    90%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 255);            
    }
    100%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 25px solid rgb(0, 255, 255); 

    }
}
@keyframes animate3{
    0%{
        box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                    2px 2px 6px rgba(0,0,0,0.8);
        
        border: 30px solid lime;
        top: 10px;
    }
    10%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
                   
    }
    20%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
        border: 3px solid red;      
    }
    30%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: lime;            
    }
    40%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: chartreuse;
    }
    50%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 1px solid aqua;          
    }
    60%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: aquamarine;           
    }
    70%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: greenyellow;            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    90%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 255);            
    }
    100%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 30px solid rgb(0, 255, 255); 

    }
}
@keyframes animate4{
    0%{
        box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                    2px 2px 6px rgba(0,0,0,0.8);
        
        border: 30px solid lime;
        top: 10px;
    }
    10%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
                   
    }
    20%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
        border: 3px solid red;      
    }
    30%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: lime;            
    }
    40%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: chartreuse;
    }
    50%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 1px solid aqua;          
    }
    60%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: aquamarine;           
    }
    70%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: greenyellow;            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    90%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 255);            
    }
    100%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 30px solid rgb(0, 255, 255); 

    }
}
@keyframes animate5{
    0%{
        box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                    2px 2px 6px rgba(0,0,0,0.8);
        
        border: 50px solid lime;
        top: 10px;
    }
    10%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
                   
    }
    20%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
        border: 3px solid red;      
    }
    30%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: lime;            
    }
    40%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: chartreuse;
    }
    50%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 1px solid aqua;          
    }
    60%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: aquamarine;           
    }
    70%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: greenyellow;            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    90%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 255);            
    }
    100%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 50px solid rgb(0, 255, 255); 

    }
    
}
@keyframes animate6{
    0%{
        box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                    2px 2px 6px rgba(0,0,0,0.8);
        
        border: 30px solid lime;
        top: 10px;
    }
    10%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
                   
    }
    20%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8);
        border: 3px solid red;      
    }
    30%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: lime;            
    }
    40%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: chartreuse;
    }
    50%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 1px solid aqua;          
    }
    60%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: aquamarine;           
    }
    70%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: greenyellow;            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    80%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 0);            
    }
    90%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border-color: rgb(0, 255, 255);            
    }
    100%{
        box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
                   inset 2px 2px 6px rgba(0,0,0,0.8); 
        border: 30px solid rgb(0, 255, 255); 

    }
}

.my_comment_box{
    margin: auto;
}



.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 11px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: #55efc4;}
  #News {background-color: #ff7675;}
  #Contact {background-color: #a29bfe;}
  #About {background-color: #34ace0;}

.my_bell{
    color: #ebf5fc;
    animation: 2s shakeBell infinite alternate;
    font-size: large;
    margin-left: -5px;
}

@keyframes shakeBell {
    0% {
        transform: rotate(35deg);
    }
    12.5% {
        transform: rotate(-30deg);
    }
    25% {
        transform: rotate(25deg);
    }
    37.5% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(15deg);
    }
    62.5% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}